._2UyCZQ {
  --H97cbQ: 16px;
  --Xm-_8w: 0;
  font-feature-settings: "liga" var(--I1TtXQ,off),"clig" var(--rt6TaA,off),"calt" var(--o_YY6w,off);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
  color: #000;
  contain: style;
  direction: ltr;
  font-family: unset;
  font-kerning: none;
  font-style: normal;
  font-synthesis: none;
  font-weight: 400;
  height: auto;
  letter-spacing: 0;
  line-height: 1.4;
  overflow: visible;
  overflow-wrap: break-word;
  padding: 0;
  position: relative;
  -moz-tab-size: 4;
  tab-size: 4;
  text-align: left;
  text-transform: none;
  white-space: normal;
  word-break: normal;
}

.e1_zQg {
  pointer-events: auto;
  -webkit-user-select: text;
  user-select: text;
}

.dkWypw {
  align-items: center;
  box-sizing: border-box;
  display: inline-flex;
  pointer-events: none;
}

.NA_Img {
  height: calc(var(----lgQg, .1rem)*8*3);
  width: calc(var(----lgQg, .1rem)*8*3);
}

._6ti9_A {
  animation: _vsOSw .5s linear infinite;
}

._682gpw {
  -webkit-touch-callout: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}

.DF_utQ {
  cursor: auto;
  outline: none;
  position: absolute;
}

._0xkaeQ {
  pointer-events: auto;
}

.IwXXkw {
  background: var(--VcZbvQ);
  opacity: var(--Xj4qXA);
}

._qImYg {
  animation: _5bz7wQ 1.4s infinite;
}

._CObZw {
  height: 100%;
  width: 100%;
}

.JbJFjg {
  border-radius: 0;
}

.Rt1H_w {
  background-color: hsla(0,0%,71%,.22);
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

._5sVuA {
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.S3wQqg {
  height: 100%;
  opacity: 0;
  width: 100%;
}

.lKZixA {
  transition: opacity .15s ease-in-out;
}

._8YzbFQ {
  opacity: 1;
}

.uqhtBg {
  height: inherit;
  width: inherit;
}

.hVT_uA {
  opacity: 1;
  transition: opacity .15s ease-in-out;
}

.PgAXEw {
  opacity: 0;
  pointer-events: none;
}

.bFnJ2A {
  left: 0;
  overflow: hidden;
  top: 0;
}

._7KaXww {
  height: 0;
  width: 0;
}

.a26Xuw {
  height: 100%;
  width: 100%;
}

.fbzKiw {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.PcHy7w {
  height: 100%;
  width: 100%;
}

.Izwocg {
  position: relative;
}

.uk_25A {
  height: 100%;
  width: 100%;
}

.Ty61NA {
  transition: transform .3s ease;
}

.dMHlHA {
  display: block;
  height: 100%;
  pointer-events: none;
  position: absolute;
  width: 100%;
}

._mXnjA {
  position: relative;
}

._6t4CHA {
  bottom: 0;
  left: 0;
  outline: none;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
}

.twbtjQ {
  direction: ltr;
  position: relative;
}

.GDnEHQ {
  overflow: hidden;
}

.o2Yl2g {
  transform-origin: 0 0;
}

.QhExXw {
  bottom: 0;
  direction: ltr;
  left: 0;
  pointer-events: none;
  position: absolute;
}

.onhyOQ {
  border-radius: inherit;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.V7MmMA {
  transform-origin: 0 0;
}

.Fe_H_Q {
  display: block;
  min-height: 1px;
  min-width: 1px;
  overflow: visible;
  position: absolute;
}

._0yZ6Qg {
  text-rendering: geometricPrecision;
}

.aF9o6Q {
  height: 100%;
}

.Zp7NQw {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.E8yZTA {
  position: relative;
}

.hWv4NA {
  position: relative;
  transform-origin: top left;
}

._DyBwg {
  direction: ltr;
}

.hbcXuA {
  contain: layout;
  position: relative;
}

.csGvXg {
  border-spacing: 0;
  pointer-events: none;
}

._5RL20Q {
  display: block;
  left: 0;
  overflow-wrap: break-word;
  pointer-events: auto;
  position: absolute;
  top: 0;
}

.xam_ew {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.iRGCPA {
  display: flex;
  flex-direction: column;
  height: calc(100%/var(--H-KugQ, 1));
  transform: scale(var(--H-KugQ,1));
  width: calc(100%/var(--H-KugQ, 1));
}

:global(.rGeu6w) {
  flex: 1;
}

.a_GcMg.Do51Bw {
  bottom: calc((var(--Xm-_8w)/100)*var(--H97cbQ));
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

.a_GcMg.YLyPKw {
  --I1TtXQ: on;
}

.a_GcMg.YLyPKw,.a_GcMg.w9fQyg {
  font-feature-settings: "liga" var(--I1TtXQ,off),"clig" var(--rt6TaA,off),"calt" var(--o_YY6w,off);
}

.a_GcMg.w9fQyg {
  --rt6TaA: on;
}

.a_GcMg.uHzYVw {
  --o_YY6w: on;
  font-feature-settings: "liga" var(--I1TtXQ,off),"clig" var(--rt6TaA,off),"calt" var(--o_YY6w,off);
}

.a_GcMg.YLyPKw:after,.a_GcMg.uHzYVw:after,.a_GcMg.w9fQyg:after {
  content: "\200c";
}

:root ._28USrA:not(._2ENCSQ) .zV8YKg,_::-webkit-full-page-media,_:future {
  white-space: pre-wrap;
}

:root ._28USrA .zYq_BQ:last-child,_::-webkit-full-page-media,_:future {
  white-space: pre;
}

.Mb8E_A,.Mb8E_A .zYq_BQ {
  text-wrap: nowrap;
  overflow-wrap: normal;
}

.J4GZTQ,._28USrA,._5eEERQ {
  font-size: var(--H97cbQ);
  margin: 0;
  position: relative;
}

._5eEERQ .a_GcMg {
  letter-spacing: 0;
  line-height: 1.2;
  position: absolute;
  white-space: pre;
}

._28USrA .xtSH_A {
  display: inline-block;
}

.vkN2Cw ._28USrA {
  top: calc(var(--UF50hQ, 0)*1em);
}

.vkN2Cw ._28USrA.hhtymQ ._28USrA.hhtymQ {
  top: 0;
}

.vkN2Cw ._28USrA,.vkN2Cw ._5eEERQ {
  margin-top: calc(var(--gixK-A)*1em);
}

.vkN2Cw ._4N4NA {
  margin-top: 0;
}

.jvAkaQ ._28USrA,.jvAkaQ ._5eEERQ {
  margin-right: calc(var(--gixK-A)*1em);
}

.jvAkaQ ._4N4NA {
  margin-right: 0;
}

._8E_5FA ._28USrA,._8E_5FA ._5eEERQ {
  margin-left: calc(var(--gixK-A)*1em);
}

._8E_5FA ._4N4NA {
  margin-left: 0;
}

._28USrA.XN6uKA.GEC0sA,._28USrA.naUDPA.TV9a8Q {
  text-align: left;
}

._28USrA.XN6uKA.AfeL7g,._28USrA.naUDPA.AfeL7g {
  text-align: center;
}

._28USrA.XN6uKA.TV9a8Q,._28USrA.naUDPA.GEC0sA {
  text-align: right;
}

._28USrA.XN6uKA._2ENCSQ,._28USrA.naUDPA._2ENCSQ {
  text-align: justify;
}

.vkN2Cw ._28USrA.XN6uKA {
  margin-left: calc(var(--kJ5CrQ)*1em);
}

._8E_5FA ._28USrA.XN6uKA,.jvAkaQ ._28USrA.XN6uKA {
  margin-top: calc(var(--kJ5CrQ)*1em);
}

.vkN2Cw ._28USrA.naUDPA {
  margin-right: calc(var(--kJ5CrQ)*1em);
}

._8E_5FA ._28USrA.naUDPA,.jvAkaQ ._28USrA.naUDPA {
  margin-bottom: calc(var(--kJ5CrQ)*1em);
}

.vkN2Cw ._28USrA._6_lymw.XN6uKA {
  margin-left: calc(var(--kJ5CrQ)*1em + var(--3foukQ, 0)*-1);
}

._8E_5FA ._28USrA._6_lymw.XN6uKA,.jvAkaQ ._28USrA._6_lymw.XN6uKA {
  margin-top: calc(var(--kJ5CrQ)*1em + var(--3foukQ, 0)*-1);
}

.vkN2Cw ._28USrA._6_lymw.naUDPA {
  margin-right: calc(var(--kJ5CrQ)*1em + var(--3foukQ, 0)*-1);
}

._8E_5FA ._28USrA._6_lymw.naUDPA,.jvAkaQ ._28USrA._6_lymw.naUDPA {
  margin-bottom: calc(var(--kJ5CrQ)*1em + var(--3foukQ, 0)*-1);
}

._2UyCZQ .JS2Zuw {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.vkN2Cw .XN6uKA .R3Kctg {
  left: calc(var(--kJ5CrQ)*1em*-1);
}

.vkN2Cw .naUDPA .R3Kctg {
  right: calc(var(--kJ5CrQ)*1em*-1);
}

._8E_5FA .XN6uKA .R3Kctg,.jvAkaQ .XN6uKA .R3Kctg {
  top: calc(var(--kJ5CrQ)*1em*-1);
}

.vkN2Cw .XN6uKA .R3Kctg>.R3Kctg {
  left: 0;
}

.vkN2Cw .naUDPA .R3Kctg>.R3Kctg {
  right: 0;
}

._8E_5FA .XN6uKA .R3Kctg>.R3Kctg,.jvAkaQ .XN6uKA .R3Kctg>.R3Kctg {
  top: 0;
}

.vkN2Cw .XN6uKA .cZVApw {
  right: 0;
}

.vkN2Cw .naUDPA .cZVApw {
  left: 0;
}

._8E_5FA .XN6uKA .cZVApw,.jvAkaQ .XN6uKA .cZVApw {
  bottom: 0;
}

.vkN2Cw .R3Kctg,.vkN2Cw ._0jckkw:before {
  height: calc(var(--IOrplg)*1em);
  width: calc(var(--kJ5CrQ)*1em);
}

._0jckkw.XN6uKA:before {
  text-align: right;
}

.vkN2Cw ._0jckkw:before {
  padding-top: var(--3foukQ,0);
}

.vkN2Cw ._0jckkw.XN6uKA:before {
  left: calc(var(--kJ5CrQ)*1em*-1);
  padding-right: .1em;
}

.vkN2Cw ._0jckkw.naUDPA:before {
  padding-left: .1em;
  right: calc(var(--kJ5CrQ)*1em*-1);
}

._8E_5FA ._0jckkw.XN6uKA:before,.jvAkaQ ._0jckkw.XN6uKA:before {
  padding-bottom: .1em;
  top: calc(var(--kJ5CrQ)*1em*-1);
}

.vkN2Cw .R3Kctg ._0jckkw.XN6uKA:before {
  left: 0;
}

.vkN2Cw .R3Kctg ._0jckkw.naUDPA:before {
  right: 0;
}

._8E_5FA .R3Kctg ._0jckkw.XN6uKA:before,.jvAkaQ .R3Kctg ._0jckkw.XN6uKA:before {
  top: 0;
}

._28USrA:not(.hhtymQ),._5eEERQ:not(.hhtymQ) {
  counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8;
}

._28USrA.wjBajg {
  counter-reset: none;
}

.dkWypw:before {
  content: "\00200B";
  line-height: 1;
  width: 0;
}

.dkWypw>svg {
  display: block;
  height: 100%;
  width: 100%;
}

.DF_utQ:hover {
  cursor: unset;
}

.KOdbkg,._CObZw {
  border-radius: 8px;
}

.Rt1H_w,._5sVuA {
  position: absolute;
}

.S3wQqg iframe {
  border: none;
  color-scheme: none;
}

.hVT_uA,.iJd_7g {
  height: 100%;
  position: absolute;
  width: 100%;
}

._7KaXww,.bFnJ2A {
  position: absolute;
}

.a26Xuw ::selection {
  -webkit-user-select: none;
  user-select: none;
}

.DPaZ7Q,._7_i_XA {
  display: block;
  height: 100%;
  pointer-events: none;
  position: absolute;
  width: 100%;
}

.DPaZ7Q,._7_i_XA {
  object-fit: fill;
}

._3r7vyg,._6t4CHA {
  pointer-events: auto;
}

.QhExXw.pKfnlA {
  transform: translateZ(0);
}

.Fe_H_Q,.V7MmMA {
  height: 100%;
  width: 100%;
}

._5RL20Q,.xam_ew {
  box-sizing: border-box;
}

.aXBSSA,.nrDMmw {
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
}

._DyBwg .iRGCPA {
  transform-origin: 0 0;
}

._dTYUw .iRGCPA {
  transform-origin: 100% 0;
}

:global(.rGeu6w)~:global(.rGeu6w) {
  margin-top: -1px;
}
