._2UyCZQ {
  --H97cbQ: 16px;
  --Xm-_8w: 0;
  font-feature-settings: "liga" var(--I1TtXQ,off),"clig" var(--rt6TaA,off),"calt" var(--o_YY6w,off);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
  color: #000;
  contain: style;
  direction: ltr;
  font-family: unset;
  font-kerning: none;
  font-style: normal;
  font-synthesis: none;
  font-weight: 400;
  height: auto;
  letter-spacing: 0;
  line-height: 1.4;
  overflow: visible;
  overflow-wrap: break-word;
  padding: 0;
  position: relative;
  -moz-tab-size: 4;
  tab-size: 4;
  text-align: left;
  text-transform: none;
  white-space: normal;
  word-break: normal;
}

.e1_zQg {
  pointer-events: auto;
  -webkit-user-select: text;
  user-select: text;
}

.dkWypw {
  align-items: center;
  box-sizing: border-box;
  display: inline-flex;
  pointer-events: none;
}

.NA_Img {
  height: calc(var(----lgQg, .1rem)*8*3);
  width: calc(var(----lgQg, .1rem)*8*3);
}

._6ti9_A {
  animation: _vsOSw .5s linear infinite;
}

._682gpw {
  -webkit-touch-callout: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}

.DF_utQ {
  cursor: auto;
  outline: none;
  position: absolute;
}

._0xkaeQ {
  pointer-events: auto;
}

.IwXXkw {
  background: var(--VcZbvQ);
  opacity: var(--Xj4qXA);
}

._qImYg {
  animation: _5bz7wQ 1.4s infinite;
}

._CObZw {
  height: 100%;
  width: 100%;
}

.JbJFjg {
  border-radius: 0;
}

.Rt1H_w {
  background-color: hsla(0,0%,71%,.22);
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

._5sVuA {
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.S3wQqg {
  height: 100%;
  opacity: 0;
  width: 100%;
}

.lKZixA {
  transition: opacity .15s ease-in-out;
}

._8YzbFQ {
  opacity: 1;
}

.uqhtBg {
  height: inherit;
  width: inherit;
}

.hVT_uA {
  opacity: 1;
  transition: opacity .15s ease-in-out;
}

.PgAXEw {
  opacity: 0;
  pointer-events: none;
}

.bFnJ2A {
  left: 0;
  overflow: hidden;
  top: 0;
}

._7KaXww {
  height: 0;
  width: 0;
}

.a26Xuw {
  height: 100%;
  width: 100%;
}

.fbzKiw {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.PcHy7w {
  height: 100%;
  width: 100%;
}

.Izwocg {
  position: relative;
}

.uk_25A {
  height: 100%;
  width: 100%;
}

.Ty61NA {
  transition: transform .3s ease;
}

.dMHlHA {
  display: block;
  height: 100%;
  pointer-events: none;
  position: absolute;
  width: 100%;
}

._mXnjA {
  position: relative;
}

._6t4CHA {
  bottom: 0;
  left: 0;
  outline: none;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
}

.twbtjQ {
  direction: ltr;
  position: relative;
}

.GDnEHQ {
  overflow: hidden;
}

.o2Yl2g {
  transform-origin: 0 0;
}

.QhExXw {
  bottom: 0;
  direction: ltr;
  left: 0;
  pointer-events: none;
  position: absolute;
}

.onhyOQ {
  border-radius: inherit;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.V7MmMA {
  transform-origin: 0 0;
}

.Fe_H_Q {
  display: block;
  min-height: 1px;
  min-width: 1px;
  overflow: visible;
  position: absolute;
}

._0yZ6Qg {
  text-rendering: geometricPrecision;
}

.aF9o6Q {
  height: 100%;
}

.Zp7NQw {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.E8yZTA {
  position: relative;
}

.hWv4NA {
  position: relative;
  transform-origin: top left;
}

._DyBwg {
  direction: ltr;
}

.hbcXuA {
  contain: layout;
  position: relative;
}

.csGvXg {
  border-spacing: 0;
  pointer-events: none;
}

._5RL20Q {
  display: block;
  left: 0;
  overflow-wrap: break-word;
  pointer-events: auto;
  position: absolute;
  top: 0;
}

.xam_ew {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.iRGCPA {
  display: flex;
  flex-direction: column;
  height: calc(100%/var(--H-KugQ, 1));
  transform: scale(var(--H-KugQ,1));
  width: calc(100%/var(--H-KugQ, 1));
}

:global(.rGeu6w) {
  flex: 1;
}

.a_GcMg.Do51Bw {
  bottom: calc((var(--Xm-_8w)/100)*var(--H97cbQ));
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

.a_GcMg.YLyPKw {
  --I1TtXQ: on;
}

.a_GcMg.YLyPKw,.a_GcMg.w9fQyg {
  font-feature-settings: "liga" var(--I1TtXQ,off),"clig" var(--rt6TaA,off),"calt" var(--o_YY6w,off);
}

.a_GcMg.w9fQyg {
  --rt6TaA: on;
}

.a_GcMg.uHzYVw {
  --o_YY6w: on;
  font-feature-settings: "liga" var(--I1TtXQ,off),"clig" var(--rt6TaA,off),"calt" var(--o_YY6w,off);
}

.a_GcMg.YLyPKw:after,.a_GcMg.uHzYVw:after,.a_GcMg.w9fQyg:after {
  content: "\200c";
}

:root ._28USrA:not(._2ENCSQ) .zV8YKg,_::-webkit-full-page-media,_:future {
  white-space: pre-wrap;
}

:root ._28USrA .zYq_BQ:last-child,_::-webkit-full-page-media,_:future {
  white-space: pre;
}

.Mb8E_A,.Mb8E_A .zYq_BQ {
  text-wrap: nowrap;
  overflow-wrap: normal;
}

.J4GZTQ,._28USrA,._5eEERQ {
  font-size: var(--H97cbQ);
  margin: 0;
  position: relative;
}

._5eEERQ .a_GcMg {
  letter-spacing: 0;
  line-height: 1.2;
  position: absolute;
  white-space: pre;
}

._28USrA .xtSH_A {
  display: inline-block;
}

.vkN2Cw ._28USrA {
  top: calc(var(--UF50hQ, 0)*1em);
}

.vkN2Cw ._28USrA.hhtymQ ._28USrA.hhtymQ {
  top: 0;
}

.vkN2Cw ._28USrA,.vkN2Cw ._5eEERQ {
  margin-top: calc(var(--gixK-A)*1em);
}

.vkN2Cw ._4N4NA {
  margin-top: 0;
}

.jvAkaQ ._28USrA,.jvAkaQ ._5eEERQ {
  margin-right: calc(var(--gixK-A)*1em);
}

.jvAkaQ ._4N4NA {
  margin-right: 0;
}

._8E_5FA ._28USrA,._8E_5FA ._5eEERQ {
  margin-left: calc(var(--gixK-A)*1em);
}

._8E_5FA ._4N4NA {
  margin-left: 0;
}

._28USrA.XN6uKA.GEC0sA,._28USrA.naUDPA.TV9a8Q {
  text-align: left;
}

._28USrA.XN6uKA.AfeL7g,._28USrA.naUDPA.AfeL7g {
  text-align: center;
}

._28USrA.XN6uKA.TV9a8Q,._28USrA.naUDPA.GEC0sA {
  text-align: right;
}

._28USrA.XN6uKA._2ENCSQ,._28USrA.naUDPA._2ENCSQ {
  text-align: justify;
}

.vkN2Cw ._28USrA.XN6uKA {
  margin-left: calc(var(--kJ5CrQ)*1em);
}

._8E_5FA ._28USrA.XN6uKA,.jvAkaQ ._28USrA.XN6uKA {
  margin-top: calc(var(--kJ5CrQ)*1em);
}

.vkN2Cw ._28USrA.naUDPA {
  margin-right: calc(var(--kJ5CrQ)*1em);
}

._8E_5FA ._28USrA.naUDPA,.jvAkaQ ._28USrA.naUDPA {
  margin-bottom: calc(var(--kJ5CrQ)*1em);
}

.vkN2Cw ._28USrA._6_lymw.XN6uKA {
  margin-left: calc(var(--kJ5CrQ)*1em + var(--3foukQ, 0)*-1);
}

._8E_5FA ._28USrA._6_lymw.XN6uKA,.jvAkaQ ._28USrA._6_lymw.XN6uKA {
  margin-top: calc(var(--kJ5CrQ)*1em + var(--3foukQ, 0)*-1);
}

.vkN2Cw ._28USrA._6_lymw.naUDPA {
  margin-right: calc(var(--kJ5CrQ)*1em + var(--3foukQ, 0)*-1);
}

._8E_5FA ._28USrA._6_lymw.naUDPA,.jvAkaQ ._28USrA._6_lymw.naUDPA {
  margin-bottom: calc(var(--kJ5CrQ)*1em + var(--3foukQ, 0)*-1);
}

._2UyCZQ .JS2Zuw {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.vkN2Cw .XN6uKA .R3Kctg {
  left: calc(var(--kJ5CrQ)*1em*-1);
}

.vkN2Cw .naUDPA .R3Kctg {
  right: calc(var(--kJ5CrQ)*1em*-1);
}

._8E_5FA .XN6uKA .R3Kctg,.jvAkaQ .XN6uKA .R3Kctg {
  top: calc(var(--kJ5CrQ)*1em*-1);
}

.vkN2Cw .XN6uKA .R3Kctg>.R3Kctg {
  left: 0;
}

.vkN2Cw .naUDPA .R3Kctg>.R3Kctg {
  right: 0;
}

._8E_5FA .XN6uKA .R3Kctg>.R3Kctg,.jvAkaQ .XN6uKA .R3Kctg>.R3Kctg {
  top: 0;
}

.vkN2Cw .XN6uKA .cZVApw {
  right: 0;
}

.vkN2Cw .naUDPA .cZVApw {
  left: 0;
}

._8E_5FA .XN6uKA .cZVApw,.jvAkaQ .XN6uKA .cZVApw {
  bottom: 0;
}

.vkN2Cw .R3Kctg,.vkN2Cw ._0jckkw:before {
  height: calc(var(--IOrplg)*1em);
  width: calc(var(--kJ5CrQ)*1em);
}

._0jckkw.XN6uKA:before {
  text-align: right;
}

.vkN2Cw ._0jckkw:before {
  padding-top: var(--3foukQ,0);
}

.vkN2Cw ._0jckkw.XN6uKA:before {
  left: calc(var(--kJ5CrQ)*1em*-1);
  padding-right: .1em;
}

.vkN2Cw ._0jckkw.naUDPA:before {
  padding-left: .1em;
  right: calc(var(--kJ5CrQ)*1em*-1);
}

._8E_5FA ._0jckkw.XN6uKA:before,.jvAkaQ ._0jckkw.XN6uKA:before {
  padding-bottom: .1em;
  top: calc(var(--kJ5CrQ)*1em*-1);
}

.vkN2Cw .R3Kctg ._0jckkw.XN6uKA:before {
  left: 0;
}

.vkN2Cw .R3Kctg ._0jckkw.naUDPA:before {
  right: 0;
}

._8E_5FA .R3Kctg ._0jckkw.XN6uKA:before,.jvAkaQ .R3Kctg ._0jckkw.XN6uKA:before {
  top: 0;
}

._28USrA:not(.hhtymQ),._5eEERQ:not(.hhtymQ) {
  counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8;
}

._28USrA.wjBajg {
  counter-reset: none;
}

.dkWypw:before {
  content: "\00200B";
  line-height: 1;
  width: 0;
}

.dkWypw>svg {
  display: block;
  height: 100%;
  width: 100%;
}

.DF_utQ:hover {
  cursor: unset;
}

.KOdbkg,._CObZw {
  border-radius: 8px;
}

.Rt1H_w,._5sVuA {
  position: absolute;
}

.S3wQqg iframe {
  border: none;
  color-scheme: none;
}

.hVT_uA,.iJd_7g {
  height: 100%;
  position: absolute;
  width: 100%;
}

._7KaXww,.bFnJ2A {
  position: absolute;
}

.a26Xuw ::selection {
  -webkit-user-select: none;
  user-select: none;
}

.DPaZ7Q,._7_i_XA {
  display: block;
  height: 100%;
  pointer-events: none;
  position: absolute;
  width: 100%;
}

.DPaZ7Q,._7_i_XA {
  object-fit: fill;
}

._3r7vyg,._6t4CHA {
  pointer-events: auto;
}

.QhExXw.pKfnlA {
  transform: translateZ(0);
}

.Fe_H_Q,.V7MmMA {
  height: 100%;
  width: 100%;
}

._5RL20Q,.xam_ew {
  box-sizing: border-box;
}

.aXBSSA,.nrDMmw {
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
}

._DyBwg .iRGCPA {
  transform-origin: 0 0;
}

._dTYUw .iRGCPA {
  transform-origin: 100% 0;
}

:global(.rGeu6w)~:global(.rGeu6w) {
  margin-top: -1px;
}

.calendar-p0 {
  background-color: rgb(255, 255, 255);
}

.calendar-p1 {
  width: 1776px;
  height: 2699px;
  align-items: center;
}

.calendar-p2 {
  width: 1776px;
  height: 2699px;
  background-color: rgb(255, 255, 255);
}

.calendar-p3 {
  width: 1776px;
  height: 2699px;
}

.calendar-p4 {
  background: rgb(255, 255, 255);
}

.calendar-p5 {
  width: 3273.8px;
  height: 2398.06px;
  transform: translate(-748.901px, -136.932px) rotate(90deg);
}

.calendar-p6 {
  position: absolute;
  top: 177.6px;
  left: 177.6px;
  width: 1420.8px;
  height: 2343.8px;
}

.calendar-p7 {
  touch-action: pan-x pan-y pinch-zoom;
  width: 357.988px;
  height: 238.279px;
  transform: translate(205px, 79.673px);
}

.calendar-p8 {
  width: 357.988px;
  height: 238.279px;
  transform: translate(0px, -1.42109e-14px) rotate(0deg);
}

.calendar-p9 {
  position: absolute;
  top: 0px;
  left: 0px;
  transform-origin: 0px 0px;
  height: 238.279px;
  width: 357.988px;
  pointer-events: none;
  transform: scale(1);
}

.calendar-p10 {
  touch-action: pan-x pan-y pinch-zoom;
  width: 912.074px;
  height: 101.933px;
  transform: translate(431.963px, 374.879px);
}

.calendar-p11 {
  writing-mode: horizontal-tb;
  width: 912.074px;
  height: 101.933px;
}

.calendar-p12 {
  transform: translate(0px, -8.53333px);
}

.calendar-p13 {
  font-family: YACkoFu1RUU_0, auto;
  --H97cbQ: 85.3333px;
  color: rgb(53, 80, 116);
  line-height: 119px;
  letter-spacing: 0em;
  --gixK-A: 0;
  text-transform: uppercase;
  --kJ5CrQ: 0;
  --zPlnxA: none;
  list-style-type: none;
}

.calendar-p14 {
  font-size: 1em;
  font-weight: 700;
  font-style: normal;
  color: rgb(53, 80, 116);
  font-kerning: none;
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
}

.calendar-p15 {
  font-size: 1em;
  font-weight: 700;
  font-style: normal;
  color: rgb(53, 80, 116);
  font-kerning: none;
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
}

.calendar-p16 {
  touch-action: pan-x pan-y pinch-zoom;
  width: 1052.41px;
  height: 1048.58px;
  transform: translate(361.797px, 667.71px);
}

.calendar-p17 {
  width: 1052.41px;
  height: 1048.58px;
  transform: translate(0px, 0px) rotate(0deg);
}

.calendar-p18 {
  position: absolute;
  top: 0px;
  left: 0px;
  transform-origin: 0px 0px;
  height: 1048.58px;
  width: 1052.41px;
  pointer-events: none;
  transform: scale(1);
}

.calendar-p19 {
  touch-action: pan-x pan-y pinch-zoom;
  width: 912.074px;
  height: 774.728px;
  transform: translate(431.963px, 837.392px);
}

.calendar-p20 {
  width: 912.074px;
  height: 774.728px;
}

.calendar-p21 {
  width: 913px;
  height: 775px;
}

.calendar-p22 {
  --H-KugQ: 1;
}

.calendar-p23 {
  top: 0px;
  left: 0px;
  width: 130.296px;
  height: 96.753px;
}

.calendar-p24 {
  padding: 0px;
}

.calendar-p25 {
  justify-content: center;
}

.calendar-p26 {
  transform: translate(1.86667px, 0px);
}

.calendar-p27 {
  font-family: YAFcfgcNhWk_3, auto;
  --H97cbQ: 37.3333px;
  color: rgb(53, 80, 116);
  line-height: 52px;
  letter-spacing: 0.1em;
  --gixK-A: 0;
  text-transform: uppercase;
  --kJ5CrQ: 0;
  --zPlnxA: none;
  list-style-type: none;
}

.calendar-p28 {
  font-size: 1em;
  font-weight: 400;
  font-style: normal;
  color: rgb(53, 80, 116);
  font-kerning: none;
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
}

.calendar-p29 {
  transform: translate(0.296216px, 0px);
  top: 0px;
  left: 130px;
  width: 130.296px;
  height: 96.753px;
}

.calendar-p30 {
  padding: 0px;
}

.calendar-p31 {
  justify-content: center;
}

.calendar-p32 {
  transform: translate(1.86667px, 0px);
}

.calendar-p33 {
  font-family: YAFcfgcNhWk_3, auto;
  --H97cbQ: 37.3333px;
  color: rgb(53, 80, 116);
  line-height: 52px;
  letter-spacing: 0.1em;
  --gixK-A: 0;
  text-transform: uppercase;
  --kJ5CrQ: 0;
  --zPlnxA: none;
  list-style-type: none;
}

.calendar-p34 {
  font-size: 1em;
  font-weight: 400;
  font-style: normal;
  color: rgb(53, 80, 116);
  font-kerning: none;
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
}

.calendar-p35 {
  transform: translate(0.592431px, 0px);
  top: 0px;
  left: 260px;
  width: 130.296px;
  height: 96.753px;
}

.calendar-p36 {
  padding: 0px;
}

.calendar-p37 {
  justify-content: center;
}

.calendar-p38 {
  transform: translate(1.86667px, 0px);
}

.calendar-p39 {
  font-family: YAFcfgcNhWk_3, auto;
  --H97cbQ: 37.3333px;
  color: rgb(53, 80, 116);
  line-height: 52px;
  letter-spacing: 0.1em;
  --gixK-A: 0;
  text-transform: uppercase;
  --kJ5CrQ: 0;
  --zPlnxA: none;
  list-style-type: none;
}

.calendar-p40 {
  font-size: 1em;
  font-weight: 400;
  font-style: normal;
  color: rgb(53, 80, 116);
  font-kerning: none;
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
}

.calendar-p41 {
  transform: translate(0.888647px, 0px);
  top: 0px;
  left: 390px;
  width: 130.296px;
  height: 96.753px;
}

.calendar-p42 {
  padding: 0px;
}

.calendar-p43 {
  justify-content: center;
}

.calendar-p44 {
  transform: translate(1.86667px, 0px);
}

.calendar-p45 {
  font-family: YAFcfgcNhWk_3, auto;
  --H97cbQ: 37.3333px;
  color: rgb(53, 80, 116);
  line-height: 52px;
  letter-spacing: 0.1em;
  --gixK-A: 0;
  text-transform: none;
  --kJ5CrQ: 0;
  --zPlnxA: none;
  list-style-type: none;
}

.calendar-p46 {
  font-size: 1em;
  font-weight: 400;
  font-style: normal;
  color: rgb(53, 80, 116);
  font-kerning: none;
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
}

.calendar-p47 {
  transform: translate(0.184863px, 0px);
  top: 0px;
  left: 521px;
  width: 130.296px;
  height: 96.753px;
}

.calendar-p48 {
  padding: 0px;
}

.calendar-p49 {
  justify-content: center;
}

.calendar-p50 {
  transform: translate(1.86667px, 0px);
}

.calendar-p51 {
  font-family: YAFcfgcNhWk_3, auto;
  --H97cbQ: 37.3333px;
  color: rgb(53, 80, 116);
  line-height: 52px;
  letter-spacing: 0.1em;
  --gixK-A: 0;
  text-transform: uppercase;
  --kJ5CrQ: 0;
  --zPlnxA: none;
  list-style-type: none;
}

.calendar-p52 {
  font-size: 1em;
  font-weight: 400;
  font-style: normal;
  color: rgb(53, 80, 116);
  font-kerning: none;
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
}

.calendar-p53 {
  transform: translate(0.481079px, 0px);
  top: 0px;
  left: 651px;
  width: 130.296px;
  height: 96.753px;
}

.calendar-p54 {
  padding: 0px;
}

.calendar-p55 {
  justify-content: center;
}

.calendar-p56 {
  transform: translate(1.86667px, 0px);
}

.calendar-p57 {
  font-family: YAFcfgcNhWk_3, auto;
  --H97cbQ: 37.3333px;
  color: rgb(53, 80, 116);
  line-height: 52px;
  letter-spacing: 0.1em;
  --gixK-A: 0;
  text-transform: uppercase;
  --kJ5CrQ: 0;
  --zPlnxA: none;
  list-style-type: none;
}

.calendar-p58 {
  font-size: 1em;
  font-weight: 400;
  font-style: normal;
  color: rgb(53, 80, 116);
  font-kerning: none;
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
}

.calendar-p59 {
  transform: translate(0.777294px, 0px);
  top: 0px;
  left: 781px;
  width: 130.296px;
  height: 96.753px;
}

.calendar-p60 {
  padding: 0px;
}

.calendar-p61 {
  justify-content: center;
}

.calendar-p62 {
  transform: translate(1.86667px, 0px);
}

.calendar-p63 {
  font-family: YAFcfgcNhWk_3, auto;
  --H97cbQ: 37.3333px;
  color: rgb(53, 80, 116);
  line-height: 52px;
  letter-spacing: 0.1em;
  --gixK-A: 0;
  text-transform: none;
  --kJ5CrQ: 0;
  --zPlnxA: none;
  list-style-type: none;
}

.calendar-p64 {
  font-size: 1em;
  font-weight: 400;
  font-style: normal;
  color: rgb(53, 80, 116);
  font-kerning: none;
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
}

.calendar-p65 {
  transform: translate(0px, 0.753048px);
  top: 96px;
  left: 0px;
  width: 130.296px;
  height: 112.996px;
}

.calendar-p66 {
  padding: 0px;
}

.calendar-p67 {
  justify-content: center;
}

.calendar-p68 {
  transform: translate(0.296216px, 0.753048px);
  top: 96px;
  left: 130px;
  width: 130.296px;
  height: 112.996px;
}

.calendar-p69 {
  padding: 0px;
}

.calendar-p70 {
  justify-content: center;
}

.calendar-p71 {
  transform: translate(0.592431px, 0.753048px);
  top: 96px;
  left: 260px;
  width: 130.296px;
  height: 112.996px;
}

.calendar-p72 {
  padding: 0px;
}

.calendar-p73 {
  justify-content: center;
}

.calendar-p74 {
  transform: translate(0.888647px, 0.753048px);
  top: 96px;
  left: 390px;
  width: 130.296px;
  height: 112.996px;
}

.calendar-p75 {
  padding: 0px;
}

.calendar-p76 {
  justify-content: center;
}

.calendar-p77 {
  transform: translate(0.184863px, 0.753048px);
  top: 96px;
  left: 521px;
  width: 130.296px;
  height: 112.996px;
}

.calendar-p78 {
  padding: 0px;
}

.calendar-p79 {
  justify-content: center;
}

.calendar-p80 {
  transform: translate(0.481079px, 0.753048px);
  top: 96px;
  left: 651px;
  width: 130.296px;
  height: 112.996px;
}

.calendar-p81 {
  padding: 0px;
}

.calendar-p82 {
  justify-content: center;
}

.calendar-p83 {
  transform: translate(0.777294px, 0.753048px);
  top: 96px;
  left: 781px;
  width: 130.296px;
  height: 112.996px;
}

.calendar-p84 {
  padding: 0px;
}

.calendar-p85 {
  justify-content: center;
}

.calendar-p86 {
  transform: translate(1.86667px, 0px);
}

.calendar-p87 {
  font-family: YAFcfgcNhWk_3, auto;
  --H97cbQ: 37.3333px;
  color: rgb(53, 80, 116);
  line-height: 52px;
  letter-spacing: 0.1em;
  --gixK-A: 0;
  text-transform: uppercase;
  --kJ5CrQ: 0;
  --zPlnxA: none;
  list-style-type: none;
}

.calendar-p88 {
  font-size: 1em;
  font-weight: 400;
  font-style: normal;
  color: rgb(53, 80, 116);
  font-kerning: none;
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
}

.calendar-p89 {
  transform: translate(0px, 0.748927px);
  top: 209px;
  left: 0px;
  width: 130.296px;
  height: 112.996px;
}

.calendar-p90 {
  padding: 0px;
}

.calendar-p91 {
  justify-content: center;
}

.calendar-p92 {
  transform: translate(1.86667px, 0px);
}

.calendar-p93 {
  font-family: YAFcfgcNhWk_3, auto;
  --H97cbQ: 37.3333px;
  color: rgb(53, 80, 116);
  line-height: 52px;
  letter-spacing: 0.1em;
  --gixK-A: 0;
  text-transform: uppercase;
  --kJ5CrQ: 0;
  --zPlnxA: none;
  list-style-type: none;
}

.calendar-p94 {
  font-size: 1em;
  font-weight: 400;
  font-style: normal;
  color: rgb(53, 80, 116);
  font-kerning: none;
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
}

.calendar-p95 {
  transform: translate(0.296216px, 0.748927px);
  top: 209px;
  left: 130px;
  width: 130.296px;
  height: 112.996px;
}

.calendar-p96 {
  padding: 0px;
}

.calendar-p97 {
  justify-content: center;
}

.calendar-p98 {
  transform: translate(1.86667px, 0px);
}

.calendar-p99 {
  font-family: YAFcfgcNhWk_3, auto;
  --H97cbQ: 37.3333px;
  color: rgb(53, 80, 116);
  line-height: 52px;
  letter-spacing: 0.1em;
  --gixK-A: 0;
  text-transform: uppercase;
  --kJ5CrQ: 0;
  --zPlnxA: none;
  list-style-type: none;
}

.calendar-p100 {
  font-size: 1em;
  font-weight: 400;
  font-style: normal;
  color: rgb(53, 80, 116);
  font-kerning: none;
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
}

.calendar-p101 {
  transform: translate(0.592431px, 0.748927px);
  top: 209px;
  left: 260px;
  width: 130.296px;
  height: 112.996px;
}

.calendar-p102 {
  padding: 0px;
}

.calendar-p103 {
  justify-content: center;
}

.calendar-p104 {
  transform: translate(1.86667px, 0px);
}

.calendar-p105 {
  font-family: YAFcfgcNhWk_3, auto;
  --H97cbQ: 37.3333px;
  color: rgb(53, 80, 116);
  line-height: 52px;
  letter-spacing: 0.1em;
  --gixK-A: 0;
  text-transform: uppercase;
  --kJ5CrQ: 0;
  --zPlnxA: none;
  list-style-type: none;
}

.calendar-p106 {
  font-size: 1em;
  font-weight: 400;
  font-style: normal;
  color: rgb(53, 80, 116);
  font-kerning: none;
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
}

.calendar-p107 {
  transform: translate(0.888647px, 0.748927px);
  top: 209px;
  left: 390px;
  width: 130.296px;
  height: 112.996px;
}

.calendar-p108 {
  padding: 0px;
}

.calendar-p109 {
  justify-content: center;
}

.calendar-p110 {
  transform: translate(1.86667px, 0px);
}

.calendar-p111 {
  font-family: YAFcfgcNhWk_3, auto;
  --H97cbQ: 37.3333px;
  color: rgb(53, 80, 116);
  line-height: 52px;
  letter-spacing: 0.1em;
  --gixK-A: 0;
  text-transform: uppercase;
  --kJ5CrQ: 0;
  --zPlnxA: none;
  list-style-type: none;
}

.calendar-p112 {
  font-size: 1em;
  font-weight: 400;
  font-style: normal;
  color: rgb(53, 80, 116);
  font-kerning: none;
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
}

.calendar-p113 {
  transform: translate(0.184863px, 0.748927px);
  top: 209px;
  left: 521px;
  width: 130.296px;
  height: 112.996px;
}

.calendar-p114 {
  padding: 0px;
}

.calendar-p115 {
  justify-content: center;
}

.calendar-p116 {
  transform: translate(1.86667px, 0px);
}

.calendar-p117 {
  font-family: YAFcfgcNhWk_3, auto;
  --H97cbQ: 37.3333px;
  color: rgb(53, 80, 116);
  line-height: 52px;
  letter-spacing: 0.1em;
  --gixK-A: 0;
  text-transform: uppercase;
  --kJ5CrQ: 0;
  --zPlnxA: none;
  list-style-type: none;
}

.calendar-p118 {
  font-size: 1em;
  font-weight: 400;
  font-style: normal;
  color: rgb(53, 80, 116);
  font-kerning: none;
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
}

.calendar-p119 {
  transform: translate(0.481079px, 0.748927px);
  top: 209px;
  left: 651px;
  width: 130.296px;
  height: 112.996px;
}

.calendar-p120 {
  padding: 0px;
}

.calendar-p121 {
  justify-content: center;
}

.calendar-p122 {
  transform: translate(1.86667px, 0px);
}

.calendar-p123 {
  font-family: YAFcfgcNhWk_3, auto;
  --H97cbQ: 37.3333px;
  color: rgb(53, 80, 116);
  line-height: 52px;
  letter-spacing: 0.1em;
  --gixK-A: 0;
  text-transform: uppercase;
  --kJ5CrQ: 0;
  --zPlnxA: none;
  list-style-type: none;
}

.calendar-p124 {
  font-size: 1em;
  font-weight: 400;
  font-style: normal;
  color: rgb(53, 80, 116);
  font-kerning: none;
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
}

.calendar-p125 {
  transform: translate(0.777294px, 0.748927px);
  top: 209px;
  left: 781px;
  width: 130.296px;
  height: 112.996px;
}

.calendar-p126 {
  padding: 0px;
}

.calendar-p127 {
  justify-content: center;
}

.calendar-p128 {
  transform: translate(1.86667px, 0px);
}

.calendar-p129 {
  font-family: YAFcfgcNhWk_3, auto;
  --H97cbQ: 37.3333px;
  color: rgb(53, 80, 116);
  line-height: 52px;
  letter-spacing: 0.1em;
  --gixK-A: 0;
  text-transform: uppercase;
  --kJ5CrQ: 0;
  --zPlnxA: none;
  list-style-type: none;
}

.calendar-p130 {
  font-size: 1em;
  font-weight: 400;
  font-style: normal;
  color: rgb(53, 80, 116);
  font-kerning: none;
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
}

.calendar-p131 {
  transform: translate(0px, 0.744806px);
  top: 322px;
  left: 0px;
  width: 130.296px;
  height: 147.896px;
}

.calendar-p132 {
  padding: 0px;
}

.calendar-p133 {
  justify-content: center;
}

.calendar-p134 {
  transform: translate(1.86667px, 0px);
}

.calendar-p135 {
  font-family: YAFcfgcNhWk_3, auto;
  --H97cbQ: 37.3333px;
  color: rgb(53, 80, 116);
  line-height: 52px;
  letter-spacing: 0.1em;
  --gixK-A: 0;
  text-transform: uppercase;
  --kJ5CrQ: 0;
  --zPlnxA: none;
  list-style-type: none;
}

.calendar-p136 {
  font-size: 1em;
  font-weight: 400;
  font-style: normal;
  color: rgb(53, 80, 116);
  font-kerning: none;
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
}

.calendar-p137 {
  transform: translate(0.296216px, 0.744806px);
  top: 322px;
  left: 130px;
  width: 130.296px;
  height: 147.896px;
}

.calendar-p138 {
  padding: 0px;
}

.calendar-p139 {
  justify-content: center;
}

.calendar-p140 {
  transform: translate(1.86667px, 0px);
}

.calendar-p141 {
  font-family: YAFcfgcNhWk_3, auto;
  --H97cbQ: 37.3333px;
  color: rgb(53, 80, 116);
  line-height: 52px;
  letter-spacing: 0.1em;
  --gixK-A: 0;
  text-transform: uppercase;
  --kJ5CrQ: 0;
  --zPlnxA: none;
  list-style-type: none;
}

.calendar-p142 {
  font-size: 1em;
  font-weight: 400;
  font-style: normal;
  color: rgb(53, 80, 116);
  font-kerning: none;
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
}

.calendar-p143 {
  transform: translate(0.592431px, 0.744806px);
  top: 322px;
  left: 260px;
  width: 130.296px;
  height: 147.896px;
}

.calendar-p144 {
  padding: 0px;
}

.calendar-p145 {
  justify-content: center;
}

.calendar-p146 {
  transform: translate(1.86667px, 0px);
}

.calendar-p147 {
  font-family: YAFcfgcNhWk_3, auto;
  --H97cbQ: 37.3333px;
  color: rgb(53, 80, 116);
  line-height: 52px;
  letter-spacing: 0.1em;
  --gixK-A: 0;
  text-transform: uppercase;
  --kJ5CrQ: 0;
  --zPlnxA: none;
  list-style-type: none;
}

.calendar-p148 {
  font-size: 1em;
  font-weight: 400;
  font-style: normal;
  color: rgb(53, 80, 116);
  font-kerning: none;
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
}

.calendar-p149 {
  transform: translate(0.888647px, 0.744806px);
  top: 322px;
  left: 390px;
  width: 130.296px;
  height: 147.896px;
}

.calendar-p150 {
  padding: 0px;
}

.calendar-p151 {
  justify-content: center;
}

.calendar-p152 {
  transform: translate(1.86667px, 0px);
}

.calendar-p153 {
  font-family: YAFcfgcNhWk_3, auto;
  --H97cbQ: 37.3333px;
  color: rgb(53, 80, 116);
  line-height: 52px;
  letter-spacing: 0.1em;
  --gixK-A: 0;
  text-transform: uppercase;
  --kJ5CrQ: 0;
  --zPlnxA: none;
  list-style-type: none;
}

.calendar-p154 {
  font-size: 1em;
  font-weight: 400;
  font-style: normal;
  color: rgb(53, 80, 116);
  font-kerning: none;
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
}

.calendar-p155 {
  transform: translate(0.184863px, 0.744806px);
  top: 322px;
  left: 521px;
  width: 130.296px;
  height: 147.896px;
}

.calendar-p156 {
  padding: 0px;
}

.calendar-p157 {
  justify-content: center;
}

.calendar-p158 {
  transform: translate(1.86667px, 0px);
}

.calendar-p159 {
  font-family: YAFcfgcNhWk_3, auto;
  --H97cbQ: 37.3333px;
  color: rgb(53, 80, 116);
  line-height: 52px;
  letter-spacing: 0.1em;
  --gixK-A: 0;
  text-transform: uppercase;
  --kJ5CrQ: 0;
  --zPlnxA: none;
  list-style-type: none;
}

.calendar-p160 {
  font-size: 1em;
  font-weight: 400;
  font-style: normal;
  color: rgb(53, 80, 116);
  font-kerning: none;
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
}

.calendar-p161 {
  transform: translate(0.481079px, 0.744806px);
  top: 322px;
  left: 651px;
  width: 130.296px;
  height: 147.896px;
}

.calendar-p162 {
  padding: 0px;
}

.calendar-p163 {
  justify-content: center;
}

.calendar-p164 {
  transform: translate(1.86667px, 0px);
}

.calendar-p165 {
  font-family: YAFcfgcNhWk_3, auto;
  --H97cbQ: 37.3333px;
  color: rgb(53, 80, 116);
  line-height: 52px;
  letter-spacing: 0.1em;
  --gixK-A: 0;
  text-transform: uppercase;
  --kJ5CrQ: 0;
  --zPlnxA: none;
  list-style-type: none;
}

.calendar-p166 {
  font-size: 1em;
  font-weight: 400;
  font-style: normal;
  color: rgb(53, 80, 116);
  font-kerning: none;
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
}

.calendar-p167 {
  transform: translate(0.777294px, 0.744806px);
  top: 322px;
  left: 781px;
  width: 130.296px;
  height: 147.896px;
}

.calendar-p168 {
  padding: 0px;
}

.calendar-p169 {
  justify-content: center;
}

.calendar-p170 {
  transform: translate(1.86667px, 0px);
}

.calendar-p171 {
  font-family: YAFcfgcNhWk_3, auto;
  --H97cbQ: 37.3333px;
  color: rgb(53, 80, 116);
  line-height: 52px;
  letter-spacing: 0.1em;
  --gixK-A: 0;
  text-transform: uppercase;
  --kJ5CrQ: 0;
  --zPlnxA: none;
  list-style-type: none;
}

.calendar-p172 {
  font-size: 1em;
  font-weight: 400;
  font-style: normal;
  color: rgb(53, 80, 116);
  font-kerning: none;
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
}

.calendar-p173 {
  transform: translate(0px, 0.641287px);
  top: 470px;
  left: 0px;
  width: 130.296px;
  height: 78.0953px;
}

.calendar-p174 {
  padding: 0px;
}

.calendar-p175 {
  justify-content: center;
}

.calendar-p176 {
  transform: translate(1.86667px, 0px);
}

.calendar-p177 {
  font-family: YAFcfgcNhWk_3, auto;
  --H97cbQ: 37.3333px;
  color: rgb(53, 80, 116);
  line-height: 52px;
  letter-spacing: 0.1em;
  --gixK-A: 0;
  text-transform: uppercase;
  --kJ5CrQ: 0;
  --zPlnxA: none;
  list-style-type: none;
}

.calendar-p178 {
  font-size: 1em;
  font-weight: 400;
  font-style: normal;
  color: rgb(53, 80, 116);
  font-kerning: none;
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
}

.calendar-p179 {
  transform: translate(0.296216px, 0.641287px);
  top: 470px;
  left: 130px;
  width: 130.296px;
  height: 78.0953px;
}

.calendar-p180 {
  padding: 0px;
}

.calendar-p181 {
  justify-content: center;
}

.calendar-p182 {
  transform: translate(1.86667px, 0px);
}

.calendar-p183 {
  font-family: YAFcfgcNhWk_3, auto;
  --H97cbQ: 37.3333px;
  color: rgb(53, 80, 116);
  line-height: 52px;
  letter-spacing: 0.1em;
  --gixK-A: 0;
  text-transform: uppercase;
  --kJ5CrQ: 0;
  --zPlnxA: none;
  list-style-type: none;
}

.calendar-p184 {
  font-size: 1em;
  font-weight: 400;
  font-style: normal;
  color: rgb(53, 80, 116);
  font-kerning: none;
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
}

.calendar-p185 {
  transform: translate(0.592431px, 0.641287px);
  top: 470px;
  left: 260px;
  width: 130.296px;
  height: 78.0953px;
}

.calendar-p186 {
  padding: 0px;
}

.calendar-p187 {
  justify-content: center;
}

.calendar-p188 {
  transform: translate(1.86667px, 0px);
}

.calendar-p189 {
  font-family: YAFcfgcNhWk_3, auto;
  --H97cbQ: 37.3333px;
  color: rgb(53, 80, 116);
  line-height: 52px;
  letter-spacing: 0.1em;
  --gixK-A: 0;
  text-transform: uppercase;
  --kJ5CrQ: 0;
  --zPlnxA: none;
  list-style-type: none;
}

.calendar-p190 {
  font-size: 1em;
  font-weight: 400;
  font-style: normal;
  color: rgb(53, 80, 116);
  font-kerning: none;
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
}

.calendar-p191 {
  transform: translate(0.888647px, 0.641287px);
  top: 470px;
  left: 390px;
  width: 130.296px;
  height: 78.0953px;
}

.calendar-p192 {
  padding: 0px;
}

.calendar-p193 {
  justify-content: center;
}

.calendar-p194 {
  transform: translate(1.86667px, 0px);
}

.calendar-p195 {
  font-family: YAFcfgcNhWk_3, auto;
  --H97cbQ: 37.3333px;
  color: rgb(53, 80, 116);
  line-height: 52px;
  letter-spacing: 0.1em;
  --gixK-A: 0;
  text-transform: uppercase;
  --kJ5CrQ: 0;
  --zPlnxA: none;
  list-style-type: none;
}

.calendar-p196 {
  font-size: 1em;
  font-weight: 400;
  font-style: normal;
  color: rgb(53, 80, 116);
  font-kerning: none;
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
}

.calendar-p197 {
  transform: translate(0.184863px, 0.641287px);
  top: 470px;
  left: 521px;
  width: 130.296px;
  height: 78.0953px;
}

.calendar-p198 {
  padding: 0px;
}

.calendar-p199 {
  justify-content: center;
}

.calendar-p200 {
  transform: translate(1.86667px, 0px);
}

.calendar-p201 {
  font-family: YAFcfgcNhWk_3, auto;
  --H97cbQ: 37.3333px;
  color: rgb(53, 80, 116);
  line-height: 52px;
  letter-spacing: 0.1em;
  --gixK-A: 0;
  text-transform: uppercase;
  --kJ5CrQ: 0;
  --zPlnxA: none;
  list-style-type: none;
}

.calendar-p202 {
  font-size: 1em;
  font-weight: 400;
  font-style: normal;
  color: rgb(53, 80, 116);
  font-kerning: none;
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
}

.calendar-p203 {
  transform: translate(0.481079px, 0.641287px);
  top: 470px;
  left: 651px;
  width: 130.296px;
  height: 78.0953px;
}

.calendar-p204 {
  padding: 0px;
}

.calendar-p205 {
  justify-content: center;
}

.calendar-p206 {
  transform: translate(1.86667px, 0px);
}

.calendar-p207 {
  font-family: YAFcfgcNhWk_3, auto;
  --H97cbQ: 37.3333px;
  color: rgb(53, 80, 116);
  line-height: 52px;
  letter-spacing: 0.1em;
  --gixK-A: 0;
  text-transform: uppercase;
  --kJ5CrQ: 0;
  --zPlnxA: none;
  list-style-type: none;
}

.calendar-p208 {
  font-size: 1em;
  font-weight: 400;
  font-style: normal;
  color: rgb(53, 80, 116);
  font-kerning: none;
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
}

.calendar-p209 {
  transform: translate(0.777294px, 0.641287px);
  top: 470px;
  left: 781px;
  width: 130.296px;
  height: 78.0953px;
}

.calendar-p210 {
  padding: 0px;
}

.calendar-p211 {
  justify-content: center;
}

.calendar-p212 {
  transform: translate(1.86667px, 0px);
}

.calendar-p213 {
  font-family: YAFcfgcNhWk_3, auto;
  --H97cbQ: 37.3333px;
  color: rgb(53, 80, 116);
  line-height: 52px;
  letter-spacing: 0.1em;
  --gixK-A: 0;
  text-transform: uppercase;
  --kJ5CrQ: 0;
  --zPlnxA: none;
  list-style-type: none;
}

.calendar-p214 {
  font-size: 1em;
  font-weight: 400;
  font-style: normal;
  color: rgb(53, 80, 116);
  font-kerning: none;
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
}

.calendar-p215 {
  transform: translate(0px, 0.736564px);
  top: 548px;
  left: 0px;
  width: 130.296px;
  height: 112.996px;
}

.calendar-p216 {
  padding: 0px;
}

.calendar-p217 {
  justify-content: center;
}

.calendar-p218 {
  transform: translate(1.86667px, 0px);
}

.calendar-p219 {
  font-family: YAFcfgcNhWk_3, auto;
  --H97cbQ: 37.3333px;
  color: rgb(53, 80, 116);
  line-height: 52px;
  letter-spacing: 0.1em;
  --gixK-A: 0;
  text-transform: uppercase;
  --kJ5CrQ: 0;
  --zPlnxA: none;
  list-style-type: none;
}

.calendar-p220 {
  font-size: 1em;
  font-weight: 400;
  font-style: normal;
  color: rgb(53, 80, 116);
  font-kerning: none;
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
}

.calendar-p221 {
  transform: translate(0.296216px, 0.736564px);
  top: 548px;
  left: 130px;
  width: 130.296px;
  height: 112.996px;
}

.calendar-p222 {
  padding: 0px;
}

.calendar-p223 {
  justify-content: center;
}

.calendar-p224 {
  transform: translate(1.86667px, 0px);
}

.calendar-p225 {
  font-family: YAFcfgcNhWk_3, auto;
  --H97cbQ: 37.3333px;
  color: rgb(53, 80, 116);
  line-height: 52px;
  letter-spacing: 0.1em;
  --gixK-A: 0;
  text-transform: uppercase;
  --kJ5CrQ: 0;
  --zPlnxA: none;
  list-style-type: none;
}

.calendar-p226 {
  font-size: 1em;
  font-weight: 400;
  font-style: normal;
  color: rgb(53, 80, 116);
  font-kerning: none;
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
}

.calendar-p227 {
  transform: translate(0.592431px, 0.736564px);
  top: 548px;
  left: 260px;
  width: 130.296px;
  height: 112.996px;
}

.calendar-p228 {
  padding: 0px;
}

.calendar-p229 {
  justify-content: center;
}

.calendar-p230 {
  transform: translate(1.86667px, 0px);
}

.calendar-p231 {
  font-family: YAFcfgcNhWk_3, auto;
  --H97cbQ: 37.3333px;
  color: rgb(53, 80, 116);
  line-height: 52px;
  letter-spacing: 0.1em;
  --gixK-A: 0;
  text-transform: uppercase;
  --kJ5CrQ: 0;
  --zPlnxA: none;
  list-style-type: none;
}

.calendar-p232 {
  font-size: 1em;
  font-weight: 400;
  font-style: normal;
  color: rgb(53, 80, 116);
  font-kerning: none;
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
}

.calendar-p233 {
  transform: translate(0.888647px, 0.736564px);
  top: 548px;
  left: 390px;
  width: 130.296px;
  height: 112.996px;
}

.calendar-p234 {
  padding: 0px;
}

.calendar-p235 {
  justify-content: center;
}

.calendar-p236 {
  transform: translate(1.86667px, 0px);
}

.calendar-p237 {
  font-family: YAFcfgcNhWk_3, auto;
  --H97cbQ: 37.3333px;
  color: rgb(53, 80, 116);
  line-height: 52px;
  letter-spacing: 0.1em;
  --gixK-A: 0;
  text-transform: uppercase;
  --kJ5CrQ: 0;
  --zPlnxA: none;
  list-style-type: none;
}

.calendar-p238 {
  font-size: 1em;
  font-weight: 400;
  font-style: normal;
  color: rgb(53, 80, 116);
  font-kerning: none;
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
}

.calendar-p239 {
  transform: translate(0.184863px, 0.736564px);
  top: 548px;
  left: 521px;
  width: 130.296px;
  height: 112.996px;
}

.calendar-p240 {
  padding: 0px;
}

.calendar-p241 {
  justify-content: center;
}

.calendar-p242 {
  transform: translate(1.86667px, 0px);
}

.calendar-p243 {
  font-family: YAFcfgcNhWk_3, auto;
  --H97cbQ: 37.3333px;
  color: rgb(53, 80, 116);
  line-height: 52px;
  letter-spacing: 0.1em;
  --gixK-A: 0;
  text-transform: uppercase;
  --kJ5CrQ: 0;
  --zPlnxA: none;
  list-style-type: none;
}

.calendar-p244 {
  font-size: 1em;
  font-weight: 400;
  font-style: normal;
  color: rgb(53, 80, 116);
  font-kerning: none;
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
}

.calendar-p245 {
  transform: translate(0.481079px, 0.736564px);
  top: 548px;
  left: 651px;
  width: 130.296px;
  height: 112.996px;
}

.calendar-p246 {
  padding: 0px;
}

.calendar-p247 {
  justify-content: center;
}

.calendar-p248 {
  transform: translate(1.86667px, 0px);
}

.calendar-p249 {
  font-family: YAFcfgcNhWk_3, auto;
  --H97cbQ: 37.3333px;
  color: rgb(53, 80, 116);
  line-height: 52px;
  letter-spacing: 0.1em;
  --gixK-A: 0;
  text-transform: uppercase;
  --kJ5CrQ: 0;
  --zPlnxA: none;
  list-style-type: none;
}

.calendar-p250 {
  font-size: 1em;
  font-weight: 400;
  font-style: normal;
  color: rgb(53, 80, 116);
  font-kerning: none;
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
}

.calendar-p251 {
  transform: translate(0.777294px, 0.736564px);
  top: 548px;
  left: 781px;
  width: 130.296px;
  height: 112.996px;
}

.calendar-p252 {
  padding: 0px;
}

.calendar-p253 {
  justify-content: center;
}

.calendar-p254 {
  transform: translate(0px, 0.732442px);
  top: 661px;
  left: 0px;
  width: 130.296px;
  height: 112.996px;
}

.calendar-p255 {
  padding: 0px;
}

.calendar-p256 {
  justify-content: center;
}

.calendar-p257 {
  transform: translate(0.296216px, 0.732442px);
  top: 661px;
  left: 130px;
  width: 130.296px;
  height: 112.996px;
}

.calendar-p258 {
  padding: 0px;
}

.calendar-p259 {
  justify-content: center;
}

.calendar-p260 {
  transform: translate(0.592431px, 0.732442px);
  top: 661px;
  left: 260px;
  width: 130.296px;
  height: 112.996px;
}

.calendar-p261 {
  padding: 0px;
}

.calendar-p262 {
  justify-content: center;
}

.calendar-p263 {
  transform: translate(0.888647px, 0.732442px);
  top: 661px;
  left: 390px;
  width: 130.296px;
  height: 112.996px;
}

.calendar-p264 {
  padding: 0px;
}

.calendar-p265 {
  justify-content: center;
}

.calendar-p266 {
  transform: translate(0.184863px, 0.732442px);
  top: 661px;
  left: 521px;
  width: 130.296px;
  height: 112.996px;
}

.calendar-p267 {
  padding: 0px;
}

.calendar-p268 {
  justify-content: center;
}

.calendar-p269 {
  transform: translate(0.481079px, 0.732442px);
  top: 661px;
  left: 651px;
  width: 130.296px;
  height: 112.996px;
}

.calendar-p270 {
  padding: 0px;
}

.calendar-p271 {
  justify-content: center;
}

.calendar-p272 {
  transform: translate(0.777294px, 0.732442px);
  top: 661px;
  left: 781px;
  width: 130.296px;
  height: 112.996px;
}

.calendar-p273 {
  padding: 0px;
}

.calendar-p274 {
  justify-content: center;
}

.calendar-p275 {
  width: 913px;
  height: 775px;
}

.calendar-p276 {
  touch-action: pan-x pan-y pinch-zoom;
  width: 122.988px;
  height: 135.287px;
  transform: translate(1221.05px, 923.249px);
}

.calendar-p277 {
  width: 122.988px;
  height: 135.287px;
  transform: translate(0px, 0px) rotate(0deg);
}

.calendar-p278 {
  position: absolute;
  top: 0px;
  left: 0px;
  transform-origin: 0px 0px;
  height: 135.287px;
  width: 122.988px;
  pointer-events: none;
  transform: scale(1);
}

.calendar-p279 {
  touch-action: pan-x pan-y pinch-zoom;
  width: 484.177px;
  height: 483.354px;
  transform: translate(637.777px, 1925.4px);
}

.calendar-p280 {
  width: 484.177px;
  height: 483.354px;
  transform: translate(-2.84217e-14px, 0px) rotate(0deg);
}

.calendar-p281 {
  position: absolute;
  top: 0px;
  left: 0px;
  transform-origin: 0px 0px;
  height: 483.354px;
  width: 484.177px;
  pointer-events: none;
  transform: scale(1);
}

.calendar-p282 {
  touch-action: pan-x pan-y pinch-zoom;
  width: 402.689px;
  height: 88.7355px;
  transform: translate(678.436px, 2560.15px);
}

.calendar-p283 {
  position: absolute;
  top: 0px;
  left: 0px;
  transform-origin: 0px 0px;
  height: 88.7355px;
  width: 402.689px;
  transform: scale(1);
}

.calendar-p284 {
  width: 402.689px;
  height: 88.7355px;
  margin-left: 0px;
  margin-top: 0px;
}

.calendar-p285 {
  clip-path: url("#__id27");
  background: rgb(53, 80, 116);
  width: 1161.75px;
  height: 256px;
  transform: scale(0.346623, 0.346623);
  transform-origin: 0px 0px;
}

.calendar-p286 {
  touch-action: pan-x pan-y pinch-zoom;
  width: 927.01px;
  height: 2px;
  transform: translate(424.495px, 1511.05px);
}

.calendar-p287 {
  transform: scale(1);
  width: 927.01px;
  height: 2px;
}

.calendar-p288 {
  stroke: rgb(53, 80, 116);
  fill: rgb(53, 80, 116);
  width: 927.01px;
  height: 2px;
}

.calendar-p289 {
  touch-action: pan-x pan-y pinch-zoom;
}

.calendar-p290 {
  touch-action: pan-x pan-y pinch-zoom;
  width: 387.25px;
  height: 66.8px;
  transform: translate(694.375px, 755.186px);
}

.calendar-p291 {
  writing-mode: horizontal-tb;
  width: 387.25px;
  height: 66.8px;
}

.calendar-p292 {
  transform: translate(0px, -5.6px);
}

.calendar-p293 {
  font-family: YAFcfgcNhWk_3, auto;
  --H97cbQ: 56px;
  color: rgb(53, 80, 116);
  line-height: 78px;
  letter-spacing: 0em;
  --gixK-A: 0;
  text-transform: none;
  --kJ5CrQ: 0;
  --zPlnxA: none;
  list-style-type: none;
}

.calendar-p294 {
  font-size: 1em;
  font-weight: 400;
  font-style: normal;
  color: rgb(53, 80, 116);
  font-kerning: normal;
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
}

.calendar-p295 {
  touch-action: pan-x pan-y pinch-zoom;
  width: 951.456px;
  height: 96.5333px;
  transform: translate(431.963px, 1536.96px);
}

.calendar-p296 {
  writing-mode: horizontal-tb;
  width: 951.456px;
  height: 96.5333px;
}

.calendar-p297 {
  transform: translate(0px, -3.73333px);
}

.calendar-p298 {
  font-family: YAFcfgcNhWk_3, auto;
  --H97cbQ: 37.3333px;
  color: rgb(53, 80, 116);
  line-height: 52px;
  letter-spacing: 0em;
  --gixK-A: 0;
  text-transform: none;
  --kJ5CrQ: 0;
  --zPlnxA: none;
  list-style-type: none;
}

.calendar-p299 {
  font-size: 1em;
  font-weight: 400;
  font-style: normal;
  color: rgb(53, 80, 116);
  font-kerning: normal;
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
}

.calendar-p300 {
  font-family: YAFcfgcNhWk_3, auto;
  --H97cbQ: 37.3333px;
  color: rgb(53, 80, 116);
  line-height: 52px;
  letter-spacing: 0em;
  --gixK-A: 0;
  text-transform: none;
  --kJ5CrQ: 0;
  --zPlnxA: none;
  list-style-type: none;
}

.calendar-p301 {
  touch-action: pan-x pan-y pinch-zoom;
  width: 805.354px;
  height: 101.933px;
  transform: translate(477.188px, 1795.37px);
}

.calendar-p302 {
  writing-mode: horizontal-tb;
  width: 805.354px;
  height: 101.933px;
}

.calendar-p303 {
  transform: translate(0px, -8.53333px);
}

.calendar-p304 {
  font-family: YACkoFu1RUU_0, auto;
  --H97cbQ: 85.3333px;
  color: rgb(53, 80, 116);
  line-height: 119px;
  letter-spacing: 0em;
  --gixK-A: 0;
  text-transform: uppercase;
  --kJ5CrQ: 0;
  --zPlnxA: none;
  list-style-type: none;
}

.calendar-p305 {
  font-size: 1em;
  font-weight: 700;
  font-style: normal;
  color: rgb(53, 80, 116);
  font-kerning: none;
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
}

.calendar-p306 {
  touch-action: pan-x pan-y pinch-zoom;
  width: 679.062px;
  height: 66.8px;
  transform: translate(540.25px, 2461.75px);
}

.calendar-p307 {
  writing-mode: horizontal-tb;
  width: 679.062px;
  height: 66.8px;
}

.calendar-p308 {
  transform: translate(0px, -5.6px);
}

.calendar-p309 {
  font-family: YAFcfgcNhWk_3, auto;
  --H97cbQ: 56px;
  color: rgb(53, 80, 116);
  line-height: 78px;
  letter-spacing: 0em;
  --gixK-A: 0;
  text-transform: none;
  --kJ5CrQ: 0;
  --zPlnxA: none;
  list-style-type: none;
}

.calendar-p310 {
  font-size: 1em;
  font-weight: 300;
  font-style: normal;
  color: rgb(53, 80, 116);
  font-kerning: normal;
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
}

.calendar-p311 {
  touch-action: pan-x pan-y pinch-zoom;
  width: 440.257px;
  height: 45.2958px;
  transform: translate(659.652px, 2575.31px);
}

.calendar-p312 {
  writing-mode: horizontal-tb;
  width: 440.257px;
  height: 45.2958px;
}

.calendar-p313 {
  transform: translate(0px, -3.8521px);
}

.calendar-p314 {
  font-family: YAFcfgcNhWk_3, auto;
  --H97cbQ: 38.521px;
  color: rgb(255, 255, 255);
  line-height: 53px;
  letter-spacing: 0em;
  --gixK-A: 0;
  text-transform: none;
  --kJ5CrQ: 0;
  --zPlnxA: none;
  list-style-type: none;
}

.calendar-p315 {
  font-size: 1em;
  font-weight: 400;
  font-style: normal;
  color: rgb(255, 255, 255);
  font-kerning: none;
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
}

.calendar-p316 {
  touch-action: pan-x pan-y pinch-zoom;
  width: 536.921px;
  height: 134.23px;
  transform: translate(619.539px, 476.812px);
}

.calendar-p317 {
  width: 600px;
  height: 150px;
  transform: scale(0.894868, 0.894868);
  transform-origin: 0px 0px;
}

.calendar-p318 {
  width: 100%;
  height: 100%;
  border: 0;
}

.calendar-p319 {
  width: 1776px;
  height: 2699px;
  margin: 0px;
}
