._2UyCZQ {
  --H97cbQ: 16px;
  --Xm-_8w: 0;
  font-feature-settings: "liga" var(--I1TtXQ,off),"clig" var(--rt6TaA,off),"calt" var(--o_YY6w,off);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
  color: #000;
  contain: style;
  direction: ltr;
  font-family: unset;
  font-kerning: none;
  font-style: normal;
  font-synthesis: none;
  font-weight: 400;
  height: auto;
  letter-spacing: 0;
  line-height: 1.4;
  overflow: visible;
  overflow-wrap: break-word;
  padding: 0;
  position: relative;
  -moz-tab-size: 4;
  tab-size: 4;
  text-align: left;
  text-transform: none;
  white-space: normal;
  word-break: normal;
}

.e1_zQg {
  pointer-events: auto;
  -webkit-user-select: text;
  user-select: text;
}

.zYq_BQ {
  white-space: pre-wrap;
}

._682gpw {
  -webkit-touch-callout: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}

.DF_utQ {
  cursor: auto;
  outline: none;
  position: absolute;
}

._0xkaeQ {
  pointer-events: auto;
}

.bFnJ2A {
  left: 0;
  overflow: hidden;
  top: 0;
}

._7KaXww {
  height: 0;
  width: 0;
}

.qhHTGg {
  pointer-events: none;
  position: relative;
}

._4c2rDg {
  height: 100%;
  width: 100%;
}

.GxUsfw {
  transition: transform .3s ease;
}

.a26Xuw {
  height: 100%;
  width: 100%;
}

.fbzKiw {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.PcHy7w {
  height: 100%;
  width: 100%;
}

.Izwocg {
  position: relative;
}

.uk_25A {
  height: 100%;
  width: 100%;
}

.Ty61NA {
  transition: transform .3s ease;
}

.dMHlHA {
  display: block;
  height: 100%;
  pointer-events: none;
  position: absolute;
  width: 100%;
}

._mXnjA {
  position: relative;
}

._6t4CHA {
  bottom: 0;
  left: 0;
  outline: none;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
}

.twbtjQ {
  direction: ltr;
  position: relative;
}

.GDnEHQ {
  overflow: hidden;
}

.o2Yl2g {
  transform-origin: 0 0;
}

.QhExXw {
  bottom: 0;
  direction: ltr;
  left: 0;
  pointer-events: none;
  position: absolute;
}

.onhyOQ {
  border-radius: inherit;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

._0yZ6Qg {
  text-rendering: geometricPrecision;
}

.aF9o6Q {
  height: 100%;
}

.Zp7NQw {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.E8yZTA {
  position: relative;
}

.hWv4NA {
  position: relative;
  transform-origin: top left;
}

:global(.rGeu6w) {
  flex: 1;
}

.a_GcMg.Do51Bw {
  bottom: calc((var(--Xm-_8w)/100)*var(--H97cbQ));
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

.a_GcMg.YLyPKw {
  --I1TtXQ: on;
}

.a_GcMg.YLyPKw,.a_GcMg.w9fQyg {
  font-feature-settings: "liga" var(--I1TtXQ,off),"clig" var(--rt6TaA,off),"calt" var(--o_YY6w,off);
}

.a_GcMg.w9fQyg {
  --rt6TaA: on;
}

.a_GcMg.uHzYVw {
  --o_YY6w: on;
  font-feature-settings: "liga" var(--I1TtXQ,off),"clig" var(--rt6TaA,off),"calt" var(--o_YY6w,off);
}

.a_GcMg.YLyPKw:after,.a_GcMg.uHzYVw:after,.a_GcMg.w9fQyg:after {
  content: "\200c";
}

:root ._28USrA:not(._2ENCSQ) .zV8YKg,_::-webkit-full-page-media,_:future {
  white-space: pre-wrap;
}

:root ._28USrA .zYq_BQ:last-child,_::-webkit-full-page-media,_:future {
  white-space: pre;
}

.Mb8E_A,.Mb8E_A .zYq_BQ {
  text-wrap: nowrap;
  overflow-wrap: normal;
}

.J4GZTQ,._28USrA,._5eEERQ {
  font-size: var(--H97cbQ);
  margin: 0;
  position: relative;
}

._5eEERQ .a_GcMg {
  letter-spacing: 0;
  line-height: 1.2;
  position: absolute;
  white-space: pre;
}

._28USrA .xtSH_A {
  display: inline-block;
}

.vkN2Cw ._28USrA {
  top: calc(var(--UF50hQ, 0)*1em);
}

.vkN2Cw ._28USrA.hhtymQ ._28USrA.hhtymQ {
  top: 0;
}

.vkN2Cw ._28USrA,.vkN2Cw ._5eEERQ {
  margin-top: calc(var(--gixK-A)*1em);
}

.vkN2Cw ._4N4NA {
  margin-top: 0;
}

.jvAkaQ ._28USrA,.jvAkaQ ._5eEERQ {
  margin-right: calc(var(--gixK-A)*1em);
}

.jvAkaQ ._4N4NA {
  margin-right: 0;
}

._8E_5FA ._28USrA,._8E_5FA ._5eEERQ {
  margin-left: calc(var(--gixK-A)*1em);
}

._8E_5FA ._4N4NA {
  margin-left: 0;
}

._28USrA.XN6uKA.GEC0sA,._28USrA.naUDPA.TV9a8Q {
  text-align: left;
}

._28USrA.XN6uKA.AfeL7g,._28USrA.naUDPA.AfeL7g {
  text-align: center;
}

._28USrA.XN6uKA.TV9a8Q,._28USrA.naUDPA.GEC0sA {
  text-align: right;
}

._28USrA.XN6uKA._2ENCSQ,._28USrA.naUDPA._2ENCSQ {
  text-align: justify;
}

.vkN2Cw ._28USrA.XN6uKA {
  margin-left: calc(var(--kJ5CrQ)*1em);
}

._8E_5FA ._28USrA.XN6uKA,.jvAkaQ ._28USrA.XN6uKA {
  margin-top: calc(var(--kJ5CrQ)*1em);
}

.vkN2Cw ._28USrA.naUDPA {
  margin-right: calc(var(--kJ5CrQ)*1em);
}

._8E_5FA ._28USrA.naUDPA,.jvAkaQ ._28USrA.naUDPA {
  margin-bottom: calc(var(--kJ5CrQ)*1em);
}

.vkN2Cw ._28USrA._6_lymw.XN6uKA {
  margin-left: calc(var(--kJ5CrQ)*1em + var(--3foukQ, 0)*-1);
}

._8E_5FA ._28USrA._6_lymw.XN6uKA,.jvAkaQ ._28USrA._6_lymw.XN6uKA {
  margin-top: calc(var(--kJ5CrQ)*1em + var(--3foukQ, 0)*-1);
}

.vkN2Cw ._28USrA._6_lymw.naUDPA {
  margin-right: calc(var(--kJ5CrQ)*1em + var(--3foukQ, 0)*-1);
}

._8E_5FA ._28USrA._6_lymw.naUDPA,.jvAkaQ ._28USrA._6_lymw.naUDPA {
  margin-bottom: calc(var(--kJ5CrQ)*1em + var(--3foukQ, 0)*-1);
}

._2UyCZQ .JS2Zuw {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.vkN2Cw .XN6uKA .R3Kctg {
  left: calc(var(--kJ5CrQ)*1em*-1);
}

.vkN2Cw .naUDPA .R3Kctg {
  right: calc(var(--kJ5CrQ)*1em*-1);
}

._8E_5FA .XN6uKA .R3Kctg,.jvAkaQ .XN6uKA .R3Kctg {
  top: calc(var(--kJ5CrQ)*1em*-1);
}

.vkN2Cw .XN6uKA .R3Kctg>.R3Kctg {
  left: 0;
}

.vkN2Cw .naUDPA .R3Kctg>.R3Kctg {
  right: 0;
}

._8E_5FA .XN6uKA .R3Kctg>.R3Kctg,.jvAkaQ .XN6uKA .R3Kctg>.R3Kctg {
  top: 0;
}

.vkN2Cw .XN6uKA .cZVApw {
  right: 0;
}

.vkN2Cw .naUDPA .cZVApw {
  left: 0;
}

._8E_5FA .XN6uKA .cZVApw,.jvAkaQ .XN6uKA .cZVApw {
  bottom: 0;
}

.vkN2Cw .R3Kctg,.vkN2Cw ._0jckkw:before {
  height: calc(var(--IOrplg)*1em);
  width: calc(var(--kJ5CrQ)*1em);
}

._0jckkw.XN6uKA:before {
  text-align: right;
}

.vkN2Cw ._0jckkw:before {
  padding-top: var(--3foukQ,0);
}

.vkN2Cw ._0jckkw.XN6uKA:before {
  left: calc(var(--kJ5CrQ)*1em*-1);
  padding-right: .1em;
}

.vkN2Cw ._0jckkw.naUDPA:before {
  padding-left: .1em;
  right: calc(var(--kJ5CrQ)*1em*-1);
}

._8E_5FA ._0jckkw.XN6uKA:before,.jvAkaQ ._0jckkw.XN6uKA:before {
  padding-bottom: .1em;
  top: calc(var(--kJ5CrQ)*1em*-1);
}

.vkN2Cw .R3Kctg ._0jckkw.XN6uKA:before {
  left: 0;
}

.vkN2Cw .R3Kctg ._0jckkw.naUDPA:before {
  right: 0;
}

._8E_5FA .R3Kctg ._0jckkw.XN6uKA:before,.jvAkaQ .R3Kctg ._0jckkw.XN6uKA:before {
  top: 0;
}

._28USrA:not(.hhtymQ),._5eEERQ:not(.hhtymQ) {
  counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8;
}

._28USrA.wjBajg {
  counter-reset: none;
}

.DF_utQ:hover {
  cursor: unset;
}

._7KaXww,.bFnJ2A {
  position: absolute;
}

.a26Xuw ::selection {
  -webkit-user-select: none;
  user-select: none;
}

.DPaZ7Q,._7_i_XA {
  display: block;
  height: 100%;
  pointer-events: none;
  position: absolute;
  width: 100%;
}

.DPaZ7Q,._7_i_XA {
  object-fit: fill;
}

._3r7vyg,._6t4CHA {
  pointer-events: auto;
}

.QhExXw.pKfnlA {
  transform: translateZ(0);
}

.Pr6LEA,.qY_pAA {
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
}

:global(.rGeu6w)~:global(.rGeu6w) {
  margin-top: -1px;
}

.journey-p0 {
  background-color: rgb(255, 255, 255);
}

.journey-p1 {
  width: 1776px;
  height: 4488px;
  align-items: center;
}

.journey-p2 {
  width: 1776px;
  height: 4488px;
  background-color: rgb(255, 255, 255);
}

.journey-p3 {
  width: 1776px;
  height: 4488px;
}

.journey-p4 {
  background: rgb(255, 255, 255);
}

.journey-p5 {
  width: 5443.8px;
  height: 3987.59px;
  transform: translate(-1833.9px, -227.695px) rotate(90deg);
}

.journey-p6 {
  position: absolute;
  top: 177.6px;
  left: 177.6px;
  width: 1420.8px;
  height: 4132.8px;
}

.journey-p7 {
  touch-action: pan-x pan-y pinch-zoom;
  width: 1202.67px;
  height: 1372.1px;
  transform: translate(286.663px, 2942.77px);
}

.journey-p8 {
  width: 1202.67px;
  height: 1372.1px;
  transform: scale(1, 1);
  transform-origin: 0px 0px;
}

.journey-p9 {
  touch-action: pan-x pan-y pinch-zoom;
  width: 1202.67px;
  height: 579.471px;
  transform: translate(0px, 6.25278e-13px);
}

.journey-p10 {
  width: 1202.67px;
  height: 800.325px;
  transform: translate(-1.13687e-13px, -110.427px) rotate(0deg);
}

.journey-p11 {
  position: absolute;
  top: 0px;
  left: 0px;
  transform-origin: 0px 0px;
  height: 579.471px;
  width: 1202.67px;
  pointer-events: none;
  transform: scale(1);
}

.journey-p12 {
  touch-action: pan-x pan-y pinch-zoom;
  width: 596.337px;
  height: 782.628px;
  transform: translate(0px, 589.471px);
}

.journey-p13 {
  width: 596.337px;
  height: 893.694px;
  transform: translate(-1.7053e-13px, -55.5329px) rotate(0deg);
}

.journey-p14 {
  position: absolute;
  top: 0px;
  left: 0px;
  transform-origin: 0px 0px;
  height: 782.628px;
  width: 596.337px;
  pointer-events: none;
  transform: scale(1);
}

.journey-p15 {
  touch-action: pan-x pan-y pinch-zoom;
  width: 596.337px;
  height: 386.314px;
  transform: translate(606.337px, 589.471px);
}

.journey-p16 {
  width: 596.337px;
  height: 397.92px;
  transform: translate(0px, -5.80289px) rotate(0deg);
}

.journey-p17 {
  position: absolute;
  top: 0px;
  left: 0px;
  transform-origin: 0px 0px;
  height: 386.314px;
  width: 596.337px;
  pointer-events: none;
  transform: scale(1);
}

.journey-p18 {
  touch-action: pan-x pan-y pinch-zoom;
  width: 596.337px;
  height: 386.314px;
  transform: translate(606.337px, 985.785px);
}

.journey-p19 {
  width: 596.337px;
  height: 396.835px;
  transform: translate(5.68434e-14px, -5.26077px) rotate(0deg);
}

.journey-p20 {
  position: absolute;
  top: 0px;
  left: 0px;
  transform-origin: 0px 0px;
  height: 386.314px;
  width: 596.337px;
  pointer-events: none;
  transform: scale(1);
}

.journey-p21 {
  touch-action: pan-x pan-y pinch-zoom;
  width: 947.958px;
  height: 305.453px;
  transform: translate(414.021px, 2566.77px);
}

.journey-p22 {
  width: 947.958px;
  height: 305.453px;
  transform: translate(0px, 0px) rotate(0deg);
}

.journey-p23 {
  position: absolute;
  top: 0px;
  left: 0px;
  transform-origin: 0px 0px;
  height: 305.453px;
  width: 947.958px;
  pointer-events: none;
  transform: scale(1);
}

.journey-p24 {
  touch-action: pan-x pan-y pinch-zoom;
  width: 546.4px;
  height: 542.302px;
  transform: translate(302.698px, 198.095px);
}

.journey-p25 {
  width: 546.4px;
  height: 542.302px;
  transform: translate(-5.68434e-14px, 0px) rotate(0deg);
}

.journey-p26 {
  position: absolute;
  top: 0px;
  left: 0px;
  transform-origin: 0px 0px;
  height: 542.302px;
  width: 546.4px;
  pointer-events: none;
  transform: scale(1);
}

.journey-p27 {
  touch-action: pan-x pan-y pinch-zoom;
  width: 546.4px;
  height: 542.302px;
  transform: translate(933.287px, 941.15px);
}

.journey-p28 {
  width: 546.4px;
  height: 542.302px;
  transform: translate(-5.68434e-14px, 0px) rotate(0deg);
}

.journey-p29 {
  position: absolute;
  top: 0px;
  left: 0px;
  transform-origin: 0px 0px;
  height: 542.302px;
  width: 546.4px;
  pointer-events: none;
  transform: scale(1);
}

.journey-p30 {
  touch-action: pan-x pan-y pinch-zoom;
  width: 546.4px;
  height: 542.302px;
  transform: translate(289.855px, 1687px);
}

.journey-p31 {
  width: 546.4px;
  height: 542.302px;
  transform: translate(-5.68434e-14px, 0px) rotate(0deg);
}

.journey-p32 {
  position: absolute;
  top: 0px;
  left: 0px;
  transform-origin: 0px 0px;
  height: 542.302px;
  width: 546.4px;
  pointer-events: none;
  transform: scale(1);
}

.journey-p33 {
  touch-action: pan-x pan-y pinch-zoom;
  width: 344.547px;
  height: 159.745px;
  transform: translate(888px, 695.525px);
}

.journey-p34 {
  width: 159.745px;
  height: 344.547px;
  transform: translate(92.4013px, -92.4013px) rotate(90deg);
}

.journey-p35 {
  position: absolute;
  top: 0px;
  left: 0px;
  transform-origin: 0px 0px;
  height: 159.745px;
  width: 344.547px;
  pointer-events: none;
  transform: scale(1);
}

.journey-p36 {
  touch-action: pan-x pan-y pinch-zoom;
  width: 159.745px;
  height: 344.547px;
  transform: translate(623.012px, 1353.34px) rotate(90deg);
}

.journey-p37 {
  transform: scale(1, -1);
}

.journey-p38 {
  width: 159.745px;
  height: 344.547px;
  transform: translate(0px, 0px) rotate(0deg);
}

.journey-p39 {
  position: absolute;
  top: 0px;
  left: 0px;
  transform-origin: 0px 0px;
  height: 344.547px;
  width: 159.745px;
  pointer-events: none;
  transform: scale(1);
}

.journey-p40 {
  touch-action: pan-x pan-y pinch-zoom;
  width: 433.435px;
  height: 433.435px;
  transform: translate(359.18px, 252.528px);
}

.journey-p41 {
  position: absolute;
  top: 0px;
  left: 0px;
  transform-origin: 0px 0px;
  height: 433.435px;
  width: 433.435px;
  transform: scale(1);
}

.journey-p42 {
  width: 433.435px;
  height: 433.435px;
  margin-left: 0px;
  margin-top: 0px;
}

.journey-p43 {
  clip-path: url("#__id106");
  transform: scale(1.69311, 1.69311);
  transform-origin: 0px 0px;
  width: 256px;
  height: 256px;
}

.journey-p44 {
  transform-origin: 128px 128px;
}

.journey-p45 {
  width: 256px;
  height: 383.651px;
  transform: translate(0px, -85.3651px) translate(128px, 191.826px) rotate(0deg) translate(-128px, -191.826px);
  transform-origin: 0px 0px;
}

.journey-p46 {
  touch-action: pan-x pan-y pinch-zoom;
  width: 433.435px;
  height: 433.435px;
  transform: translate(989.77px, 995.583px);
}

.journey-p47 {
  position: absolute;
  top: 0px;
  left: 0px;
  transform-origin: 0px 0px;
  height: 433.435px;
  width: 433.435px;
  transform: scale(1);
}

.journey-p48 {
  width: 433.435px;
  height: 433.435px;
  margin-left: 0px;
  margin-top: 0px;
}

.journey-p49 {
  clip-path: url("#__id107");
  transform: scale(1.69311, 1.69311);
  transform-origin: 0px 0px;
  width: 256px;
  height: 256px;
}

.journey-p50 {
  transform-origin: 128px 128px;
}

.journey-p51 {
  width: 383.651px;
  height: 256px;
  transform: translate(-63.8256px, -2.84217e-14px) translate(191.826px, 128px) rotate(0deg) translate(-191.826px, -128px);
  transform-origin: 0px 0px;
}

.journey-p52 {
  touch-action: pan-x pan-y pinch-zoom;
  width: 433.435px;
  height: 433.435px;
  transform: translate(346.338px, 1741.44px);
}

.journey-p53 {
  position: absolute;
  top: 0px;
  left: 0px;
  transform-origin: 0px 0px;
  height: 433.435px;
  width: 433.435px;
  transform: scale(1);
}

.journey-p54 {
  width: 433.435px;
  height: 433.435px;
  margin-left: 0px;
  margin-top: 0px;
}

.journey-p55 {
  clip-path: url("#__id108");
  transform: scale(1.69311, 1.69311);
  transform-origin: 0px 0px;
  width: 256px;
  height: 256px;
}

.journey-p56 {
  transform-origin: 128px 128px;
}

.journey-p57 {
  width: 256px;
  height: 383.651px;
  transform: translate(-8.52651e-14px, -63.8256px) translate(128px, 191.826px) rotate(0deg) translate(-128px, -191.826px);
  transform-origin: 0px 0px;
}

.journey-p58 {
  touch-action: pan-x pan-y pinch-zoom;
  width: 366.563px;
  height: 372.552px;
  transform: translate(336.321px, 1009.84px);
}

.journey-p59 {
  width: 366.563px;
  height: 372.552px;
  transform: translate(-2.84217e-14px, -2.84217e-14px) rotate(0deg);
}

.journey-p60 {
  position: absolute;
  top: 0px;
  left: 0px;
  transform-origin: 0px 0px;
  height: 372.552px;
  width: 366.563px;
  pointer-events: none;
  transform: scale(1);
}

.journey-p61 {
  touch-action: pan-x pan-y pinch-zoom;
  width: 312.102px;
  height: 403.323px;
  transform: translate(1050.44px, 250.766px) rotate(-33.6219deg);
}

.journey-p62 {
  width: 312.102px;
  height: 403.323px;
  transform: translate(0px, 0px) rotate(0deg);
}

.journey-p63 {
  position: absolute;
  top: 0px;
  left: 0px;
  transform-origin: 0px 0px;
  height: 403.323px;
  width: 312.102px;
  pointer-events: none;
  transform: scale(1);
}

.journey-p64 {
  touch-action: pan-x pan-y pinch-zoom;
  width: 368.039px;
  height: 480.175px;
  transform: translate(989.77px, 1718.07px);
}

.journey-p65 {
  width: 368.039px;
  height: 480.175px;
  transform: translate(0px, 0px) rotate(0deg);
}

.journey-p66 {
  position: absolute;
  top: 0px;
  left: 0px;
  transform-origin: 0px 0px;
  height: 480.175px;
  width: 368.039px;
  pointer-events: none;
  transform: scale(1);
}

.journey-p67 {
  touch-action: pan-x pan-y pinch-zoom;
  width: 805.354px;
  height: 101.933px;
  transform: translate(485.323px, 73.9978px);
}

.journey-p68 {
  writing-mode: horizontal-tb;
  width: 805.354px;
  height: 101.933px;
}

.journey-p69 {
  transform: translate(0px, -8.53333px);
}

.journey-p70 {
  font-family: YACkoFu1RUU_0, auto;
  --H97cbQ: 85.3333px;
  color: rgb(53, 80, 116);
  line-height: 119px;
  letter-spacing: 0em;
  --gixK-A: 0;
  text-transform: uppercase;
  --kJ5CrQ: 0;
  --zPlnxA: none;
  list-style-type: none;
}

.journey-p71 {
  font-size: 1em;
  font-weight: 700;
  font-style: normal;
  color: rgb(53, 80, 116);
  font-kerning: none;
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
}

.journey-p72 {
  touch-action: pan-x pan-y pinch-zoom;
  width: 572.085px;
  height: 168.467px;
  transform: translate(289.855px, 775.397px);
}

.journey-p73 {
  writing-mode: horizontal-tb;
  width: 572.085px;
  height: 168.467px;
}

.journey-p74 {
  transform: translate(0px, -4.26667px);
}

.journey-p75 {
  font-family: YAFcfgcNhWk_3, auto;
  --H97cbQ: 42.6667px;
  color: rgb(53, 80, 116);
  line-height: 59px;
  letter-spacing: 0em;
  --gixK-A: 0;
  text-transform: none;
  --kJ5CrQ: 0;
  --zPlnxA: none;
  list-style-type: none;
}

.journey-p76 {
  font-size: 1em;
  font-weight: 300;
  font-style: normal;
  color: rgb(53, 80, 116);
  font-kerning: normal;
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
}

.journey-p77 {
  touch-action: pan-x pan-y pinch-zoom;
  width: 572.085px;
  height: 168.467px;
  transform: translate(920.445px, 1516.26px);
}

.journey-p78 {
  writing-mode: horizontal-tb;
  width: 572.085px;
  height: 168.467px;
}

.journey-p79 {
  transform: translate(0px, -4.26667px);
}

.journey-p80 {
  font-family: YAFcfgcNhWk_3, auto;
  --H97cbQ: 42.6667px;
  color: rgb(53, 80, 116);
  line-height: 59px;
  letter-spacing: 0em;
  --gixK-A: 0;
  text-transform: none;
  --kJ5CrQ: 0;
  --zPlnxA: none;
  list-style-type: none;
}

.journey-p81 {
  font-size: 1em;
  font-weight: 300;
  font-style: normal;
  color: rgb(53, 80, 116);
  font-kerning: normal;
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
}

.journey-p82 {
  touch-action: pan-x pan-y pinch-zoom;
  width: 572.085px;
  height: 168.467px;
  transform: translate(277.012px, 2264.31px);
}

.journey-p83 {
  writing-mode: horizontal-tb;
  width: 572.085px;
  height: 168.467px;
}

.journey-p84 {
  transform: translate(0px, -4.26667px);
}

.journey-p85 {
  font-family: YAFcfgcNhWk_3, auto;
  --H97cbQ: 42.6667px;
  color: rgb(53, 80, 116);
  line-height: 59px;
  letter-spacing: 0em;
  --gixK-A: 0;
  text-transform: none;
  --kJ5CrQ: 0;
  --zPlnxA: none;
  list-style-type: none;
}

.journey-p86 {
  font-size: 1em;
  font-weight: 300;
  font-style: normal;
  color: rgb(53, 80, 116);
  font-kerning: normal;
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
}

.journey-p87 {
  font-size: 1em;
  font-weight: 300;
  font-style: normal;
  color: rgb(53, 80, 116);
  font-kerning: normal;
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
}

.journey-p88 {
  width: 1776px;
  height: 4488px;
  margin: 0px;
}
