._2UyCZQ {
  --H97cbQ: 16px;
  --Xm-_8w: 0;
  font-feature-settings: "liga" var(--I1TtXQ,off),"clig" var(--rt6TaA,off),"calt" var(--o_YY6w,off);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
  color: #000;
  contain: style;
  direction: ltr;
  font-family: unset;
  font-kerning: none;
  font-style: normal;
  font-synthesis: none;
  font-weight: 400;
  height: auto;
  letter-spacing: 0;
  line-height: 1.4;
  overflow: visible;
  overflow-wrap: break-word;
  padding: 0;
  position: relative;
  -moz-tab-size: 4;
  tab-size: 4;
  text-align: left;
  text-transform: none;
  white-space: normal;
  word-break: normal;
}

.e1_zQg {
  pointer-events: auto;
  -webkit-user-select: text;
  user-select: text;
}

._682gpw {
  -webkit-touch-callout: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}

.DF_utQ {
  cursor: auto;
  outline: none;
  position: absolute;
}

._0xkaeQ {
  pointer-events: auto;
}

.a26Xuw {
  height: 100%;
  width: 100%;
}

.fbzKiw {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.PcHy7w {
  height: 100%;
  width: 100%;
}

.Izwocg {
  position: relative;
}

.uk_25A {
  height: 100%;
  width: 100%;
}

.Ty61NA {
  transition: transform .3s ease;
}

.dMHlHA {
  display: block;
  height: 100%;
  pointer-events: none;
  position: absolute;
  width: 100%;
}

._mXnjA {
  position: relative;
}

._6t4CHA {
  bottom: 0;
  left: 0;
  outline: none;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
}

.twbtjQ {
  direction: ltr;
  position: relative;
}

.GDnEHQ {
  overflow: hidden;
}

.o2Yl2g {
  transform-origin: 0 0;
}

.QhExXw {
  bottom: 0;
  direction: ltr;
  left: 0;
  pointer-events: none;
  position: absolute;
}

.onhyOQ {
  border-radius: inherit;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.V7MmMA {
  transform-origin: 0 0;
}

.Fe_H_Q {
  display: block;
  min-height: 1px;
  min-width: 1px;
  overflow: visible;
  position: absolute;
}

._0yZ6Qg {
  text-rendering: geometricPrecision;
}

.aF9o6Q {
  height: 100%;
}

.Zp7NQw {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.E8yZTA {
  position: relative;
}

:global(.rGeu6w) {
  flex: 1;
}

.a_GcMg.Do51Bw {
  bottom: calc((var(--Xm-_8w)/100)*var(--H97cbQ));
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

.a_GcMg.YLyPKw {
  --I1TtXQ: on;
}

.a_GcMg.YLyPKw,.a_GcMg.w9fQyg {
  font-feature-settings: "liga" var(--I1TtXQ,off),"clig" var(--rt6TaA,off),"calt" var(--o_YY6w,off);
}

.a_GcMg.w9fQyg {
  --rt6TaA: on;
}

.a_GcMg.uHzYVw {
  --o_YY6w: on;
  font-feature-settings: "liga" var(--I1TtXQ,off),"clig" var(--rt6TaA,off),"calt" var(--o_YY6w,off);
}

.a_GcMg.YLyPKw:after,.a_GcMg.uHzYVw:after,.a_GcMg.w9fQyg:after {
  content: "\200c";
}

:root ._28USrA:not(._2ENCSQ) .zV8YKg,_::-webkit-full-page-media,_:future {
  white-space: pre-wrap;
}

:root ._28USrA .zYq_BQ:last-child,_::-webkit-full-page-media,_:future {
  white-space: pre;
}

.Mb8E_A,.Mb8E_A .zYq_BQ {
  text-wrap: nowrap;
  overflow-wrap: normal;
}

.J4GZTQ,._28USrA,._5eEERQ {
  font-size: var(--H97cbQ);
  margin: 0;
  position: relative;
}

._5eEERQ .a_GcMg {
  letter-spacing: 0;
  line-height: 1.2;
  position: absolute;
  white-space: pre;
}

._28USrA .xtSH_A {
  display: inline-block;
}

.vkN2Cw ._28USrA {
  top: calc(var(--UF50hQ, 0)*1em);
}

.vkN2Cw ._28USrA.hhtymQ ._28USrA.hhtymQ {
  top: 0;
}

.vkN2Cw ._28USrA,.vkN2Cw ._5eEERQ {
  margin-top: calc(var(--gixK-A)*1em);
}

.vkN2Cw ._4N4NA {
  margin-top: 0;
}

.jvAkaQ ._28USrA,.jvAkaQ ._5eEERQ {
  margin-right: calc(var(--gixK-A)*1em);
}

.jvAkaQ ._4N4NA {
  margin-right: 0;
}

._8E_5FA ._28USrA,._8E_5FA ._5eEERQ {
  margin-left: calc(var(--gixK-A)*1em);
}

._8E_5FA ._4N4NA {
  margin-left: 0;
}

._28USrA.XN6uKA.GEC0sA,._28USrA.naUDPA.TV9a8Q {
  text-align: left;
}

._28USrA.XN6uKA.AfeL7g,._28USrA.naUDPA.AfeL7g {
  text-align: center;
}

._28USrA.XN6uKA.TV9a8Q,._28USrA.naUDPA.GEC0sA {
  text-align: right;
}

._28USrA.XN6uKA._2ENCSQ,._28USrA.naUDPA._2ENCSQ {
  text-align: justify;
}

.vkN2Cw ._28USrA.XN6uKA {
  margin-left: calc(var(--kJ5CrQ)*1em);
}

._8E_5FA ._28USrA.XN6uKA,.jvAkaQ ._28USrA.XN6uKA {
  margin-top: calc(var(--kJ5CrQ)*1em);
}

.vkN2Cw ._28USrA.naUDPA {
  margin-right: calc(var(--kJ5CrQ)*1em);
}

._8E_5FA ._28USrA.naUDPA,.jvAkaQ ._28USrA.naUDPA {
  margin-bottom: calc(var(--kJ5CrQ)*1em);
}

.vkN2Cw ._28USrA._6_lymw.XN6uKA {
  margin-left: calc(var(--kJ5CrQ)*1em + var(--3foukQ, 0)*-1);
}

._8E_5FA ._28USrA._6_lymw.XN6uKA,.jvAkaQ ._28USrA._6_lymw.XN6uKA {
  margin-top: calc(var(--kJ5CrQ)*1em + var(--3foukQ, 0)*-1);
}

.vkN2Cw ._28USrA._6_lymw.naUDPA {
  margin-right: calc(var(--kJ5CrQ)*1em + var(--3foukQ, 0)*-1);
}

._8E_5FA ._28USrA._6_lymw.naUDPA,.jvAkaQ ._28USrA._6_lymw.naUDPA {
  margin-bottom: calc(var(--kJ5CrQ)*1em + var(--3foukQ, 0)*-1);
}

._2UyCZQ .JS2Zuw {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.vkN2Cw .XN6uKA .R3Kctg {
  left: calc(var(--kJ5CrQ)*1em*-1);
}

.vkN2Cw .naUDPA .R3Kctg {
  right: calc(var(--kJ5CrQ)*1em*-1);
}

._8E_5FA .XN6uKA .R3Kctg,.jvAkaQ .XN6uKA .R3Kctg {
  top: calc(var(--kJ5CrQ)*1em*-1);
}

.vkN2Cw .XN6uKA .R3Kctg>.R3Kctg {
  left: 0;
}

.vkN2Cw .naUDPA .R3Kctg>.R3Kctg {
  right: 0;
}

._8E_5FA .XN6uKA .R3Kctg>.R3Kctg,.jvAkaQ .XN6uKA .R3Kctg>.R3Kctg {
  top: 0;
}

.vkN2Cw .XN6uKA .cZVApw {
  right: 0;
}

.vkN2Cw .naUDPA .cZVApw {
  left: 0;
}

._8E_5FA .XN6uKA .cZVApw,.jvAkaQ .XN6uKA .cZVApw {
  bottom: 0;
}

.vkN2Cw .R3Kctg,.vkN2Cw ._0jckkw:before {
  height: calc(var(--IOrplg)*1em);
  width: calc(var(--kJ5CrQ)*1em);
}

._0jckkw.XN6uKA:before {
  text-align: right;
}

.vkN2Cw ._0jckkw:before {
  padding-top: var(--3foukQ,0);
}

.vkN2Cw ._0jckkw.XN6uKA:before {
  left: calc(var(--kJ5CrQ)*1em*-1);
  padding-right: .1em;
}

.vkN2Cw ._0jckkw.naUDPA:before {
  padding-left: .1em;
  right: calc(var(--kJ5CrQ)*1em*-1);
}

._8E_5FA ._0jckkw.XN6uKA:before,.jvAkaQ ._0jckkw.XN6uKA:before {
  padding-bottom: .1em;
  top: calc(var(--kJ5CrQ)*1em*-1);
}

.vkN2Cw .R3Kctg ._0jckkw.XN6uKA:before {
  left: 0;
}

.vkN2Cw .R3Kctg ._0jckkw.naUDPA:before {
  right: 0;
}

._8E_5FA .R3Kctg ._0jckkw.XN6uKA:before,.jvAkaQ .R3Kctg ._0jckkw.XN6uKA:before {
  top: 0;
}

._28USrA:not(.hhtymQ),._5eEERQ:not(.hhtymQ) {
  counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8;
}

._28USrA.wjBajg {
  counter-reset: none;
}

.DF_utQ:hover {
  cursor: unset;
}

.a26Xuw ::selection {
  -webkit-user-select: none;
  user-select: none;
}

.DPaZ7Q,._7_i_XA {
  display: block;
  height: 100%;
  pointer-events: none;
  position: absolute;
  width: 100%;
}

.DPaZ7Q,._7_i_XA {
  object-fit: fill;
}

._3r7vyg,._6t4CHA {
  pointer-events: auto;
}

.QhExXw.pKfnlA {
  transform: translateZ(0);
}

.Fe_H_Q,.V7MmMA {
  height: 100%;
  width: 100%;
}

:global(.rGeu6w)~:global(.rGeu6w) {
  margin-top: -1px;
}

.timeline-p0 {
  background-color: rgb(255, 255, 255);
}

.timeline-p1 {
  width: 1776px;
  height: 1840px;
  align-items: center;
}

.timeline-p2 {
  width: 1776px;
  height: 1840px;
  background-color: rgb(255, 255, 255);
}

.timeline-p3 {
  width: 1776px;
  height: 1840px;
}

.timeline-p4 {
  background: rgb(255, 255, 255);
}

.timeline-p5 {
  width: 3273.8px;
  height: 2398.06px;
  transform: translate(-748.901px, -136.932px) rotate(90deg);
}

.timeline-p6 {
  position: absolute;
  top: 177.6px;
  left: 177.6px;
  width: 1420.8px;
  height: 1484.8px;
}

.timeline-p7 {
  clip-path: polygon(205px 0px, 553.212px 0px, 553.212px 480.011px, 205px 480.011px);
}

.timeline-p8 {
  touch-action: pan-x pan-y pinch-zoom;
  width: 386.073px;
  height: 434.333px;
  transform: translate(135.154px, 17.8229px) rotate(9.1213deg);
}

.timeline-p9 {
  width: 386.073px;
  height: 434.333px;
}

.timeline-p10 {
  width: 386.073px;
  height: 434.333px;
  transform: translate(0px, 0px) rotate(0deg);
}

.timeline-p11 {
  position: absolute;
  top: 0px;
  left: 0px;
  transform-origin: 0px 0px;
  height: 434.333px;
  width: 386.073px;
  pointer-events: none;
  transform: scale(1);
}

.timeline-p12 {
  touch-action: pan-x pan-y pinch-zoom;
  width: 1034.4px;
  height: 2px;
  transform: translate(371.799px, 751.191px) rotate(-90deg);
}

.timeline-p13 {
  transform: scale(1);
  width: 1034.4px;
  height: 2px;
}

.timeline-p14 {
  stroke: rgb(53, 80, 116);
  fill: rgb(53, 80, 116);
  width: 1034.4px;
  height: 2px;
}

.timeline-p15 {
  touch-action: pan-x pan-y pinch-zoom;
}

.timeline-p16 {
  touch-action: pan-x pan-y pinch-zoom;
  width: 662.66px;
  height: 66.8px;
  transform: translate(896.279px, 260.412px);
}

.timeline-p17 {
  writing-mode: horizontal-tb;
  width: 662.66px;
  height: 66.8px;
}

.timeline-p18 {
  transform: translate(0px, -5.6px);
}

.timeline-p19 {
  font-family: YACkoFu1RUU_0, auto;
  --H97cbQ: 56px;
  color: rgb(53, 80, 116);
  line-height: 78px;
  letter-spacing: 0em;
  --gixK-A: 0;
  text-transform: none;
  --kJ5CrQ: 0;
  --zPlnxA: none;
  list-style-type: none;
}

.timeline-p20 {
  font-size: 1em;
  font-weight: 400;
  font-style: normal;
  color: rgb(53, 80, 116);
  font-kerning: normal;
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
}

.timeline-p21 {
  touch-action: pan-x pan-y pinch-zoom;
  width: 418.921px;
  height: 2px;
  transform: translate(888px, 326.212px) rotate(-180deg);
}

.timeline-p22 {
  transform: scale(1);
  width: 418.921px;
  height: 2px;
}

.timeline-p23 {
  stroke: rgb(53, 80, 116);
  fill: rgb(53, 80, 116);
  width: 418.921px;
  height: 2px;
}

.timeline-p24 {
  touch-action: pan-x pan-y pinch-zoom;
}

.timeline-p25 {
  touch-action: pan-x pan-y pinch-zoom;
  width: 418.921px;
  height: 2px;
  transform: translate(470.079px, 535.901px) rotate(-180deg);
}

.timeline-p26 {
  transform: scale(1);
  width: 418.921px;
  height: 2px;
}

.timeline-p27 {
  stroke: rgb(53, 80, 116);
  fill: rgb(53, 80, 116);
  width: 418.921px;
  height: 2px;
}

.timeline-p28 {
  touch-action: pan-x pan-y pinch-zoom;
}

.timeline-p29 {
  touch-action: pan-x pan-y pinch-zoom;
  width: 418.921px;
  height: 2px;
  transform: translate(888px, 745.901px) rotate(-180deg);
}

.timeline-p30 {
  transform: scale(1);
  width: 418.921px;
  height: 2px;
}

.timeline-p31 {
  stroke: rgb(53, 80, 116);
  fill: rgb(53, 80, 116);
  width: 418.921px;
  height: 2px;
}

.timeline-p32 {
  touch-action: pan-x pan-y pinch-zoom;
}

.timeline-p33 {
  touch-action: pan-x pan-y pinch-zoom;
  width: 418.921px;
  height: 2px;
  transform: translate(470.079px, 955.901px) rotate(-180deg);
}

.timeline-p34 {
  transform: scale(1);
  width: 418.921px;
  height: 2px;
}

.timeline-p35 {
  stroke: rgb(53, 80, 116);
  fill: rgb(53, 80, 116);
  width: 418.921px;
  height: 2px;
}

.timeline-p36 {
  touch-action: pan-x pan-y pinch-zoom;
}

.timeline-p37 {
  touch-action: pan-x pan-y pinch-zoom;
  width: 418.921px;
  height: 2px;
  transform: translate(889px, 1165.9px) rotate(-180deg);
}

.timeline-p38 {
  transform: scale(1);
  width: 418.921px;
  height: 2px;
}

.timeline-p39 {
  stroke: rgb(53, 80, 116);
  fill: rgb(53, 80, 116);
  width: 418.921px;
  height: 2px;
}

.timeline-p40 {
  touch-action: pan-x pan-y pinch-zoom;
}

.timeline-p41 {
  touch-action: pan-x pan-y pinch-zoom;
  width: 662.66px;
  height: 66.8px;
  transform: translate(896.279px, 1100.1px);
}

.timeline-p42 {
  writing-mode: horizontal-tb;
  width: 662.66px;
  height: 66.8px;
}

.timeline-p43 {
  transform: translate(0px, -5.6px);
}

.timeline-p44 {
  font-family: YACkoFu1RUU_0, auto;
  --H97cbQ: 56px;
  color: rgb(53, 80, 116);
  line-height: 78px;
  letter-spacing: 0em;
  --gixK-A: 0;
  text-transform: none;
  --kJ5CrQ: 0;
  --zPlnxA: none;
  list-style-type: none;
}

.timeline-p45 {
  font-size: 1em;
  font-weight: 400;
  font-style: normal;
  color: rgb(53, 80, 116);
  font-kerning: normal;
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
}

.timeline-p46 {
  touch-action: pan-x pan-y pinch-zoom;
  width: 662.66px;
  height: 57.4px;
  transform: translate(896.279px, 1170.9px);
}

.timeline-p47 {
  writing-mode: horizontal-tb;
  width: 662.66px;
  height: 57.4px;
}

.timeline-p48 {
  transform: translate(0px, -4.8px);
}

.timeline-p49 {
  font-family: YAFcfgcNhWk_3, auto;
  --H97cbQ: 48px;
  color: rgb(53, 80, 116);
  line-height: 67px;
  letter-spacing: 0em;
  --gixK-A: 0;
  text-transform: none;
  --kJ5CrQ: 0;
  --zPlnxA: none;
  list-style-type: none;
}

.timeline-p50 {
  font-size: 1em;
  font-weight: 300;
  font-style: normal;
  color: rgb(53, 80, 116);
  font-kerning: normal;
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
}

.timeline-p51 {
  clip-path: polygon(1105.53px 1119.37px, 1571px 1119.37px, 1571px 1840px, 1105.53px 1840px);
}

.timeline-p52 {
  touch-action: pan-x pan-y pinch-zoom;
  width: 530.112px;
  height: 596.376px;
  transform: translate(1207.75px, 1204.19px) rotate(-25.3761deg);
}

.timeline-p53 {
  width: 530.112px;
  height: 596.376px;
}

.timeline-p54 {
  transform: scale(-1, 1);
}

.timeline-p55 {
  width: 530.112px;
  height: 596.376px;
  transform: translate(0px, 0px) rotate(0deg);
}

.timeline-p56 {
  position: absolute;
  top: 0px;
  left: 0px;
  transform-origin: 0px 0px;
  height: 596.376px;
  width: 530.112px;
  pointer-events: none;
  transform: scale(1);
}

.timeline-p57 {
  touch-action: pan-x pan-y pinch-zoom;
  width: 805.354px;
  height: 101.933px;
  transform: translate(485.323px, 73.9978px);
}

.timeline-p58 {
  writing-mode: horizontal-tb;
  width: 805.354px;
  height: 101.933px;
}

.timeline-p59 {
  transform: translate(0px, -8.53333px);
}

.timeline-p60 {
  font-family: YACkoFu1RUU_0, auto;
  --H97cbQ: 85.3333px;
  color: rgb(53, 80, 116);
  line-height: 119px;
  letter-spacing: 0em;
  --gixK-A: 0;
  text-transform: uppercase;
  --kJ5CrQ: 0;
  --zPlnxA: none;
  list-style-type: none;
}

.timeline-p61 {
  font-size: 1em;
  font-weight: 700;
  font-style: normal;
  color: rgb(53, 80, 116);
  font-kerning: none;
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
}

.timeline-p62 {
  touch-action: pan-x pan-y pinch-zoom;
  width: 662.66px;
  height: 57.4px;
  transform: translate(896.279px, 331.174px);
}

.timeline-p63 {
  writing-mode: horizontal-tb;
  width: 662.66px;
  height: 57.4px;
}

.timeline-p64 {
  transform: translate(0px, -4.8px);
}

.timeline-p65 {
  font-family: YAFcfgcNhWk_3, auto;
  --H97cbQ: 48px;
  color: rgb(53, 80, 116);
  line-height: 67px;
  letter-spacing: 0em;
  --gixK-A: 0;
  text-transform: none;
  --kJ5CrQ: 0;
  --zPlnxA: none;
  list-style-type: none;
}

.timeline-p66 {
  font-size: 1em;
  font-weight: 300;
  font-style: normal;
  color: rgb(53, 80, 116);
  font-kerning: normal;
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
}

.timeline-p67 {
  touch-action: pan-x pan-y pinch-zoom;
  width: 662.66px;
  height: 66.8px;
  transform: translate(896.279px, 680.101px);
}

.timeline-p68 {
  writing-mode: horizontal-tb;
  width: 662.66px;
  height: 66.8px;
}

.timeline-p69 {
  transform: translate(0px, -5.6px);
}

.timeline-p70 {
  font-family: YACkoFu1RUU_0, auto;
  --H97cbQ: 56px;
  color: rgb(53, 80, 116);
  line-height: 78px;
  letter-spacing: 0em;
  --gixK-A: 0;
  text-transform: none;
  --kJ5CrQ: 0;
  --zPlnxA: none;
  list-style-type: none;
}

.timeline-p71 {
  font-size: 1em;
  font-weight: 400;
  font-style: normal;
  color: rgb(53, 80, 116);
  font-kerning: normal;
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
}

.timeline-p72 {
  touch-action: pan-x pan-y pinch-zoom;
  width: 662.66px;
  height: 57.4px;
  transform: translate(896.279px, 750.901px);
}

.timeline-p73 {
  writing-mode: horizontal-tb;
  width: 662.66px;
  height: 57.4px;
}

.timeline-p74 {
  transform: translate(0px, -4.8px);
}

.timeline-p75 {
  font-family: YAFcfgcNhWk_3, auto;
  --H97cbQ: 48px;
  color: rgb(53, 80, 116);
  line-height: 67px;
  letter-spacing: 0em;
  --gixK-A: 0;
  text-transform: none;
  --kJ5CrQ: 0;
  --zPlnxA: none;
  list-style-type: none;
}

.timeline-p76 {
  font-size: 1em;
  font-weight: 300;
  font-style: normal;
  color: rgb(53, 80, 116);
  font-kerning: normal;
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
}

.timeline-p77 {
  touch-action: pan-x pan-y pinch-zoom;
  width: 662.66px;
  height: 66.8px;
  transform: translate(217.29px, 470.101px);
}

.timeline-p78 {
  writing-mode: horizontal-tb;
  width: 662.66px;
  height: 66.8px;
}

.timeline-p79 {
  transform: translate(0px, -5.6px);
}

.timeline-p80 {
  font-family: YACkoFu1RUU_0, auto;
  --H97cbQ: 56px;
  color: rgb(53, 80, 116);
  line-height: 78px;
  letter-spacing: 0em;
  --gixK-A: 0;
  text-transform: none;
  --kJ5CrQ: 0;
  --zPlnxA: none;
  list-style-type: none;
}

.timeline-p81 {
  font-size: 1em;
  font-weight: 400;
  font-style: normal;
  color: rgb(53, 80, 116);
  font-kerning: normal;
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
}

.timeline-p82 {
  touch-action: pan-x pan-y pinch-zoom;
  width: 662.66px;
  height: 57.4px;
  transform: translate(217.29px, 541.612px);
}

.timeline-p83 {
  writing-mode: horizontal-tb;
  width: 662.66px;
  height: 57.4px;
}

.timeline-p84 {
  transform: translate(0px, -4.8px);
}

.timeline-p85 {
  font-family: YAFcfgcNhWk_3, auto;
  --H97cbQ: 48px;
  color: rgb(53, 80, 116);
  line-height: 67px;
  letter-spacing: 0em;
  --gixK-A: 0;
  text-transform: none;
  --kJ5CrQ: 0;
  --zPlnxA: none;
  list-style-type: none;
}

.timeline-p86 {
  font-size: 1em;
  font-weight: 300;
  font-style: normal;
  color: rgb(53, 80, 116);
  font-kerning: normal;
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
}

.timeline-p87 {
  touch-action: pan-x pan-y pinch-zoom;
  width: 662.66px;
  height: 57.4px;
  transform: translate(221.882px, 961.572px);
}

.timeline-p88 {
  writing-mode: horizontal-tb;
  width: 662.66px;
  height: 57.4px;
}

.timeline-p89 {
  transform: translate(0px, -4.8px);
}

.timeline-p90 {
  font-family: YAFcfgcNhWk_3, auto;
  --H97cbQ: 48px;
  color: rgb(53, 80, 116);
  line-height: 67px;
  letter-spacing: 0em;
  --gixK-A: 0;
  text-transform: none;
  --kJ5CrQ: 0;
  --zPlnxA: none;
  list-style-type: none;
}

.timeline-p91 {
  font-size: 1em;
  font-weight: 300;
  font-style: normal;
  color: rgb(53, 80, 116);
  font-kerning: normal;
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
}

.timeline-p92 {
  touch-action: pan-x pan-y pinch-zoom;
  width: 662.66px;
  height: 66.8px;
  transform: translate(217.29px, 890.101px);
}

.timeline-p93 {
  writing-mode: horizontal-tb;
  width: 662.66px;
  height: 66.8px;
}

.timeline-p94 {
  transform: translate(0px, -5.6px);
}

.timeline-p95 {
  font-family: YACkoFu1RUU_0, auto;
  --H97cbQ: 56px;
  color: rgb(53, 80, 116);
  line-height: 78px;
  letter-spacing: 0em;
  --gixK-A: 0;
  text-transform: none;
  --kJ5CrQ: 0;
  --zPlnxA: none;
  list-style-type: none;
}

.timeline-p96 {
  font-size: 1em;
  font-weight: 400;
  font-style: normal;
  color: rgb(53, 80, 116);
  font-kerning: normal;
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
}

.timeline-p97 {
  width: 1776px;
  height: 1840px;
  margin: 0px;
}
