.ill {
  display: inline-flex;
  color: var(--ink);
  line-height: 0;
  vertical-align: top;
}
.ill svg {
  display: block;
}
.byHeight svg {
  width: auto;
  height: var(--size);
}
.byWidth svg {
  height: auto;
  width: var(--size);
}
.flip {
  transform: scaleX(-1);
}
